@* Copyright (c) 1994-2014 Sage Software, Inc.  All rights reserved. *@
@using Sage.CA.SBS.ERP.Sage300.VPF.Resources

<svg width="670" height="1400" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <g display="inline">
    <title>IC_Transaction</title>
    <g transform="matrix(0.532283,0,0,0.605972,11.6284,47.1279) " id="svg_50">
      <svg x="30" y="-621" viewBox="0 0 330 60" id="svg_24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <path fill="#9A9B9C" d="m0,0l4,0l0,50l-4,0l0,-50z" id="svg_25" />
      </svg>
    </g>
    <g id="svg_35" transform="matrix(0.5322834253311156,0,0,0.5696035559508065,11.628350108861923,45.98080519590029) ">
      <svg id="svg_29" x="30" y="-228" viewBox="0 0 330 60" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <path id="svg_30" fill="#9A9B9C" d="m0,0l4,0l0,50l-4,0l0,-50z" />
      </svg>
    </g>
    <g id="svg_129" transform="matrix(0.532283,0,0,0.605972,11.6284,47.1279) ">
      <svg id="svg_31" x="30" y="-441" viewBox="0 0 330 60" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <path id="svg_60" fill="#9A9B9C" d="m0,0l4,0l0,50l-4,0l0,-50z" />
      </svg>
    </g>
    <g id="svg_137">
      <path fill="#ffc04e" d="m30,676.20001c-2.10001,0 -3.79999,1.70001 -3.79999,3.79999s1.69998,3.79999 3.79999,3.79999s3.79999,-1.70001 3.79999,-3.79999s-1.69998,-3.79999 -3.79999,-3.79999zm0,6.09998c-1.20001,0 -2.29999,-1 -2.29999,-2.29999c0,-1.20001 1,-2.29999 2.29999,-2.29999c1.20001,0 2.29999,1 2.29999,2.29999c0,1.20001 -1.09998,2.29999 -2.29999,2.29999z" id="svg_138" />
      <path fill="#ffc04e" d="m30,650c-16.60001,0 -30,13.40002 -30,30s13.39999,30 30,30s30,-13.40002 30,-30s-13.39999,-30 -30,-30zm7.5,32.09998c-0.20001,0.60004 -0.39999,1.20001 -0.70001,1.80005c0.90002,1.59998 0.90002,2.59998 0.30002,3.19995s-1.60001,0.60004 -3.20001,-0.29999c-0.60001,0.29999 -1.19998,0.60004 -1.79999,0.70001c-0.5,1.79999 -1.30002,2.5 -2.10001,2.5s-1.60001,-0.70001 -2.10001,-2.5c-0.60001,-0.20001 -1.19998,-0.40002 -1.79999,-0.70001c-1.60001,0.90002 -2.60001,0.90002 -3.20001,0.29999c-0.60001,-0.59998 -0.60001,-1.59998 0.30002,-3.19995c-0.30002,-0.60004 -0.60001,-1.20001 -0.70001,-1.80005c-1.79999,-0.5 -2.5,-1.29999 -2.5,-2.09998s0.70001,-1.59998 2.5,-2.09998c0.20001,-0.60004 0.39999,-1.20001 0.70001,-1.80005c-0.90002,-1.59998 -0.90002,-2.59998 -0.30002,-3.19995s1.60001,-0.60004 3.20001,0.29999c0.60001,-0.29999 1.19998,-0.60004 1.79999,-0.70001c0.5,-1.79999 1.30002,-2.5 2.10001,-2.5s1.60001,0.70001 2.10001,2.5c0.60001,0.20001 1.19998,0.40002 1.79999,0.70001c1.60001,-0.90002 2.60001,-0.90002 3.20001,-0.29999c0.60001,0.59998 0.60001,1.59998 -0.30002,3.19995c0.30002,0.60004 0.60001,1.20001 0.70001,1.80005c1.79999,0.5 2.5,1.29999 2.5,2.09998s-0.70001,1.59998 -2.5,2.09998z" id="svg_139" />
    </g>
    <path d="m29.99999,0c-16.59999,0 -29.99999,13.40003 -29.99999,30.00001s13.4,29.99997 29.99999,29.99997s30,-13.40001 30,-29.99997s-13.4,-30.00001 -30,-30.00001zm-10.4,22.50001c-0.79998,-0.79999 -0.79998,-2.09998 0,-2.90001c0.80001,-0.79999 2.10001,-0.79999 2.90001,0c0.4,0.40001 1.5,1.5 1.5,1.5l-1.5,1.5l-1.40001,1.40001c0,0 -1,-1 -1.5,-1.5zm5.10001,-0.7l8.60001,8.60004l0.69998,3.59996l-3.59999,-0.7l-8.59999,-8.59996l2.89999,-2.90001l0,-0.00003zm13.29999,14.19997c0,1.09999 -0.9,2 -2,2l-11.99999,0c-1.1,0 -2,-0.90001 -2,-2l0,-6.89998l2,2l0,4.89998l11.99999,0l0,-11.99997l-4.9,0l-2,-2l6.9,0c1.1,0 2,0.90002 2,2l0,11.99997z" fill="#007F64" id="svg_27" />
    <path d="m29.99999,110c-16.59999,0 -29.99999,13.40002 -29.99999,30.00002s13.4,29.99995 29.99999,29.99995s30,-13.39999 30,-29.99995s-13.4,-30.00002 -30,-30.00002zm-10.4,22.5c-0.79998,-0.79999 -0.79998,-2.09998 0,-2.89999c0.80001,-0.79999 2.10001,-0.79999 2.90001,0c0.4,0.40001 1.5,1.5 1.5,1.5l-1.5,1.5l-1.40001,1.40001c0,0 -1,-1 -1.5,-1.50002zm5.10001,-0.69998l8.60001,8.60004l0.69998,3.59996l-3.59999,-0.7l-8.59999,-8.59998l2.89999,-2.89999l0,-0.00003zm13.29999,14.19995c0,1.10001 -0.9,2 -2,2l-11.99999,0c-1.1,0 -2,-0.89999 -2,-2l0,-6.89996l2,2l0,4.89996l11.99999,0l0,-11.99995l-4.9,0l-2,-2l6.9,0c1.1,0 2,0.90002 2,2l0,11.99995z" fill="#007F64" id="svg_79" />
    <path d="m29.99998,220c-16.59999,0 -29.99998,13.40002 -29.99998,30s13.39999,30 29.99998,30s30,-13.40002 30,-30s-13.39999,-30 -30,-30zm-10.39999,22.50003c-0.79999,-0.80002 -0.79999,-2.10001 0,-2.90002c0.8,-0.79999 2.10001,-0.79999 2.90001,0c0.39999,0.39999 1.5,1.5 1.5,1.5l-1.5,1.5l-1.40001,1.39999c0,0 -1,-1 -1.5,-1.49997zm5.10001,-0.70001l8.60001,8.60004l0.69998,3.59996l-3.59999,-0.69998l-8.59999,-8.59996l2.89999,-2.90001l0,-0.00003l0,-0.00002zm13.29999,14.19998c0,1.09998 -0.89999,2 -2,2l-11.99998,0c-1.10001,0 -2,-0.90002 -2,-2l0,-6.89999l2,2l0,4.89999l11.99998,0l0,-12l-4.89999,0l-2,-2l6.89999,0c1.10001,0 2,0.90002 2,2l0,12z" fill="#007F64" id="svg_112" />
    <path stroke-width="0" d="m30,330c-16.60001,0 -30,13.40002 -30,30s13.39999,30 30,30s30,-13.40002 30,-30s-13.40001,-30 -30,-30zm-10.40001,22.5c-0.8,-0.79999 -0.8,-2.09998 0,-2.90002c0.8,-0.79999 2.10001,-0.79999 2.90001,0c0.39999,0.40002 1.5,1.5 1.5,1.5l-1.5,1.5l-1.40001,1.40002c0,0 -1,-1 -1.5,-1.5zm5.10001,-0.70001l8.60001,8.60004l0.7,3.59998l-3.60001,-0.70001l-8.60001,-8.59998l2.90001,-2.89999l0,-0.00003zm13.3,14.20001c0,1.09998 -0.90001,2 -2,2l-12,0c-1.10001,0 -2,-0.90002 -2,-2l0,-6.90002l2,2l0,4.90002l12,0l0,-12l-4.90001,0l-2,-2l6.90001,0c1.09999,0 2,0.90002 2,2l0,12z" fill="#007F64" id="svg_134" />
    <a xlink:href="javascript:EventListenter_VPF('IC','Receipt','');" id="svg_61">
      <text transform="matrix(0.9653,0,0,1,69.437,34.3872) " y="0" x="0" id="svg_26">@ICResx.ReceiveItems</text>
    </a>
    <a xlink:href="javascript:EventListenter_VPF('IC','Shipment','');" id="svg_62">
      <text transform="matrix(0.9652999999999999,0,0,1,69.43699999999998,26.8872) " y="117" x="0" id="svg_78">@ICResx.ShipItems</text>
    </a>
    <a xlink:href="javascript:EventListenter_VPF('IC','Transfer','');" id="svg_63">
      <text transform="matrix(0.9652999999999999,0,0,1,245.79199999999997,242.474) " y="12" x="-182" id="svg_109">@ICResx.TransferInventory</text>
    </a>
    <a xlink:href="javascript:EventListenter_VPF('IC','Adjustment','');" id="svg_64">
      <text transform="matrix(0.9652999999999999,0,0,1,245.79199999999997,242.474) " y="120" x="-182" id="svg_133">@ICResx.AdjustItemCostsQuantities</text>
    </a>
    <a xlink:href="javascript:EventListenter_VPF('IC','PostTransaction','');" id="svg_69">
      <text transform="matrix(0.9652999999999999,0,0,1,-255.659,724.887) " y="-40" x="338" id="svg_140">@ICResx.PostTransactions</text>
    </a>
    <a xlink:href="javascript:EventListenter_VPF('IC','DayEndProcessing','');" id="svg_68">
      <path d="m29.99998,490c-16.59999,0 -29.99998,13.40002 -29.99998,30s13.39999,30 29.99998,30s30,-13.40002 30,-30s-13.4,-30 -30,-30zm-10.39999,22.5c-0.79999,-0.79999 -0.79999,-2.09998 0,-2.89996c0.8,-0.79999 2.10001,-0.79999 2.90001,0c0.39999,0.39996 1.5,1.49994 1.5,1.49994l-1.5,1.50006l-1.40001,1.39996c0,0 -1,-1 -1.5,-1.5zm5.10001,-0.69995l8.6,8.59998l0.69998,3.59998l-3.59998,-0.69995l-8.59999,-8.59998l2.9,-2.90002l0,0l-0.00001,0zm13.29997,14.19995c0,1.09998 -0.89999,2 -2,2l-11.99997,0c-1.10001,0 -2,-0.90002 -2,-2l0,-6.90002l2,2l0,4.90002l11.99997,0l0,-12l-4.89999,0l-2,-2l6.89999,0c1.10001,0 2,0.90002 2,2l0,12z" fill="#0089c6" id="svg_157" />
      <text transform="matrix(0.9652999999999999,0,0,1,245.79199999999997,242.474) " y="282" x="-182" id="svg_156">@ICResx.DayEndProcessing</text>
    </a>
    <g id="collapse_92">
      <a xlink:href="javascript:EventListenter_VPF('IC','TransactionHistoryInquiry','');" id="svg_76">
        <text transform="matrix(0.962,0,0,1,26.9995,15.3867) " y="569" x="428" id="svg_136">@ICResx.TransactionsHistory</text>
        <path d="m425.11417,572.62976c1.40002,1.29999 2.29999,3 2.59998,4.90002s0.09998,3.79999 -0.79999,5.5c-0.5,0.89996 -1.10004,1.79999 -1.79999,2.5c-0.70001,0.70001 -1.5,1.20001 -2.30005,1.70001c-1.89996,0.89996 -3.79999,1.09998 -5.79999,0.69995c-1.29999,-0.29999 -2.59998,-0.89996 -3.59998,-1.69995c-1.1001,-0.79999 -1.89996,-1.90002 -2.5,-3.10004c-0.79999,-1.79999 -1.1001,-3.6001 -0.79999,-5.5s1.19989,-3.5 2.59998,-4.89996c1.5,-1.60004 3.20001,-2.40002 5.20001,-2.70001c2.79999,-0.20001 5.20001,0.59998 7.20001,2.59998zm-6.30005,4.20001c-0.79999,0.09998 -1.5,0.60004 -2.09998,1.29999c-0.59998,0.60004 -0.79999,1 -0.5,1.10004c0.09998,0.09998 0.30005,-0.10004 0.59998,-0.40002c0.20001,-0.29999 0.40002,-0.5 0.60004,-0.70001c0.39996,-0.39996 0.70001,-0.39996 0.79999,-0.09998c0,0.09998 -0.20001,0.79999 -0.69995,2c-0.50006,1.20001 -0.80005,2 -0.90002,2.29999c-0.19995,0.70001 -0.30005,1.20001 -0.30005,1.5s0.20007,0.60004 0.40002,0.70001c0.29999,0.20001 0.70001,0.20001 1.29999,0c0.90002,-0.29999 1.70001,-0.90002 2.50006,-1.70001c0.49994,-0.5 0.59998,-0.90002 0.39996,-1c-0.10004,0 -0.29999,0.20001 -0.70001,0.60004c-0.59998,0.69995 -1,0.89996 -1.09998,0.79999c-0.10004,-0.10004 -0.10004,-0.30005 0,-0.70001c0.09998,-0.3999 0.40002,-1.09998 0.79999,-2.09998c0.5,-1.20001 0.70001,-2 0.70001,-2.20001c0.19995,-0.79999 0,-1.30005 -0.60004,-1.40002c-0.39996,-0.19989 -0.79999,-0.19989 -1.20001,0zm1.20001,-3.20001c-0.29999,0.10004 -0.49994,0.29999 -0.70001,0.5c-0.19995,0.30005 -0.19995,0.60004 -0.19995,0.90002c0.09998,0.59998 0.40002,0.89996 1.09998,1c0.40002,0 0.70001,-0.10004 1,-0.40002c0.30005,-0.29999 0.40002,-0.59998 0.40002,-1c0,-0.59998 -0.20001,-0.89996 -0.70001,-1.09998c-0.29999,0 -0.60004,0 -0.90002,0.09998z" fill="#7A7B7C" id="svg_141" />
      </a>
      <a xlink:href="javascript:EventListenter_VPF('IC','LIFOFIFOInquiry','');" id="svg_77">
        <text transform="matrix(0.962,0,0,1,26.9995,15.3867) " y="599" x="428" id="svg_65">@ICResx.LIFOFIFO</text>
        <path d="m425.11417,602.62976c1.40002,1.30005 2.29999,3 2.59998,4.90002s0.09998,3.79999 -0.79999,5.5c-0.5,0.90002 -1.10004,1.79999 -1.79999,2.5c-0.70001,0.70001 -1.5,1.20001 -2.30005,1.70001c-1.89996,0.89996 -3.79999,1.09998 -5.79999,0.70001c-1.29999,-0.30005 -2.59998,-0.90002 -3.59998,-1.70001c-1.1001,-0.79999 -1.89996,-1.90002 -2.5,-3.10004c-0.79999,-1.79999 -1.1001,-3.6001 -0.79999,-5.5s1.19989,-3.5 2.59998,-4.89996c1.5,-1.60004 3.20001,-2.40002 5.20001,-2.70001c2.79999,-0.20001 5.20001,0.59998 7.20001,2.59998zm-6.30005,4.20001c-0.79999,0.10004 -1.5,0.60004 -2.09998,1.29999c-0.59998,0.60004 -0.79999,1 -0.5,1.10004c0.09998,0.09998 0.30005,-0.10004 0.59998,-0.40002c0.20001,-0.29999 0.40002,-0.5 0.60004,-0.70001c0.39996,-0.39996 0.70001,-0.39996 0.79999,-0.09998c0,0.09998 -0.20001,0.79999 -0.69995,2c-0.50006,1.20001 -0.80005,2 -0.90002,2.29999c-0.19995,0.70001 -0.30005,1.20001 -0.30005,1.5s0.20007,0.60004 0.40002,0.70001c0.29999,0.20001 0.70001,0.20001 1.29999,0c0.90002,-0.29999 1.70001,-0.90002 2.50006,-1.70001c0.49994,-0.5 0.59998,-0.89996 0.39996,-1c-0.10004,0 -0.29999,0.20001 -0.70001,0.60004c-0.59998,0.69995 -1,0.89996 -1.09998,0.79999c-0.10004,-0.10004 -0.10004,-0.29999 0,-0.70001c0.09998,-0.3999 0.40002,-1.09998 0.79999,-2.09998c0.5,-1.20001 0.70001,-2 0.70001,-2.20001c0.19995,-0.79999 0,-1.29999 -0.60004,-1.40002c-0.39996,-0.19989 -0.79999,-0.19989 -1.20001,0zm1.20001,-3.20001c-0.29999,0.10004 -0.49994,0.30005 -0.70001,0.5c-0.19995,0.30005 -0.19995,0.60004 -0.19995,0.90002c0.09998,0.59998 0.40002,0.90002 1.09998,1c0.40002,0 0.70001,-0.09998 1,-0.40002c0.30005,-0.29999 0.40002,-0.59998 0.40002,-1c0,-0.59998 -0.20001,-0.89996 -0.70001,-1.09998c-0.29999,0 -0.60004,0 -0.90002,0.09998z" fill="#7A7B7C" id="svg_66" />
      </a>
      <a xlink:href="javascript:EventListenter_VPF('IC','SalesStatistic','');" id="svg_80">
        <path id="svg_123" d="m425.11417,632.62976c1.40002,1.29999 2.29999,3 2.59998,4.90002s0.09998,3.79999 -0.79999,5.5c-0.5,0.89996 -1.10004,1.79999 -1.79999,2.5c-0.70001,0.70001 -1.5,1.20001 -2.30005,1.70001c-1.89996,0.89996 -3.79999,1.09998 -5.79999,0.69995c-1.29999,-0.29999 -2.59998,-0.89996 -3.59998,-1.69995c-1.1001,-0.79999 -1.89996,-1.90002 -2.5,-3.10004c-0.79999,-1.79999 -1.1001,-3.6001 -0.79999,-5.5s1.19989,-3.5 2.59998,-4.89996c1.5,-1.60004 3.20001,-2.40002 5.20001,-2.70001c2.79999,-0.20001 5.20001,0.59998 7.20001,2.59998zm-6.30005,4.20001c-0.79999,0.09998 -1.5,0.60004 -2.09998,1.29999c-0.59998,0.60004 -0.79999,1 -0.5,1.10004c0.09998,0.09998 0.30005,-0.10004 0.59998,-0.40002c0.20001,-0.29999 0.40002,-0.5 0.60004,-0.70001c0.39996,-0.39996 0.70001,-0.39996 0.79999,-0.09998c0,0.09998 -0.20001,0.79999 -0.69995,2c-0.50006,1.20001 -0.80005,2 -0.90002,2.29999c-0.19995,0.70001 -0.30005,1.20001 -0.30005,1.5s0.20007,0.60004 0.40002,0.70001c0.29999,0.20001 0.70001,0.20001 1.29999,0c0.90002,-0.29999 1.70001,-0.90002 2.50006,-1.70001c0.49994,-0.5 0.59998,-0.90002 0.39996,-1c-0.10004,0 -0.29999,0.20001 -0.70001,0.60004c-0.59998,0.69995 -1,0.89996 -1.09998,0.79999c-0.10004,-0.10004 -0.10004,-0.30005 0,-0.70001c0.09998,-0.3999 0.40002,-1.09998 0.79999,-2.09998c0.5,-1.20001 0.70001,-2 0.70001,-2.20001c0.19995,-0.79999 0,-1.30005 -0.60004,-1.40002c-0.39996,-0.19989 -0.79999,-0.19989 -1.20001,0zm1.20001,-3.20001c-0.29999,0.10004 -0.49994,0.29999 -0.70001,0.5c-0.19995,0.30005 -0.19995,0.60004 -0.19995,0.90002c0.09998,0.59998 0.40002,0.89996 1.09998,1c0.40002,0 0.70001,-0.10004 1,-0.40002c0.30005,-0.29999 0.40002,-0.59998 0.40002,-1c0,-0.59998 -0.20001,-0.89996 -0.70001,-1.09998c-0.29999,0 -0.60004,0 -0.90002,0.09998z" fill="#7A7B7C" />
        <text id="svg_121" transform="matrix(0.962,0,0,1,26.9995,15.3867) " y="629" x="428">@ICResx.SalesStatistics</text>
      </a>
      <a xlink:href="javascript:EventListenter_VPF('IC','ItemLocationDocument','');" id="svg_82">
        <path id="svg_118" d="m425.11417,662.62976c1.40002,1.30005 2.29999,3 2.59998,4.90002s0.09998,3.79999 -0.79999,5.5c-0.5,0.90002 -1.10004,1.79999 -1.79999,2.5c-0.70001,0.70001 -1.5,1.20001 -2.30005,1.70001c-1.89996,0.89996 -3.79999,1.09998 -5.79999,0.70001c-1.29999,-0.30005 -2.59998,-0.90002 -3.59998,-1.70001c-1.1001,-0.79999 -1.89996,-1.90002 -2.5,-3.10004c-0.79999,-1.79999 -1.1001,-3.6001 -0.79999,-5.5s1.19989,-3.5 2.59998,-4.89996c1.5,-1.60004 3.20001,-2.40002 5.20001,-2.70001c2.79999,-0.20001 5.20001,0.59998 7.20001,2.59998zm-6.30005,4.20001c-0.79999,0.10004 -1.5,0.60004 -2.09998,1.29999c-0.59998,0.60004 -0.79999,1 -0.5,1.10004c0.09998,0.09998 0.30005,-0.10004 0.59998,-0.40002c0.20001,-0.29999 0.40002,-0.5 0.60004,-0.70001c0.39996,-0.39996 0.70001,-0.39996 0.79999,-0.09998c0,0.09998 -0.20001,0.79999 -0.69995,2c-0.50006,1.20001 -0.80005,2 -0.90002,2.29999c-0.19995,0.70001 -0.30005,1.20001 -0.30005,1.5s0.20007,0.60004 0.40002,0.70001c0.29999,0.20001 0.70001,0.20001 1.29999,0c0.90002,-0.29999 1.70001,-0.90002 2.50006,-1.70001c0.49994,-0.5 0.59998,-0.89996 0.39996,-1c-0.10004,0 -0.29999,0.20001 -0.70001,0.60004c-0.59998,0.69995 -1,0.89996 -1.09998,0.79999c-0.10004,-0.10004 -0.10004,-0.29999 0,-0.70001c0.09998,-0.3999 0.40002,-1.09998 0.79999,-2.09998c0.5,-1.20001 0.70001,-2 0.70001,-2.20001c0.19995,-0.79999 0,-1.29999 -0.60004,-1.40002c-0.39996,-0.19989 -0.79999,-0.19989 -1.20001,0zm1.20001,-3.20001c-0.29999,0.10004 -0.49994,0.30005 -0.70001,0.5c-0.19995,0.30005 -0.19995,0.60004 -0.19995,0.90002c0.09998,0.59998 0.40002,0.90002 1.09998,1c0.40002,0 0.70001,-0.09998 1,-0.40002c0.30005,-0.29999 0.40002,-0.59998 0.40002,-1c0,-0.59998 -0.20001,-0.89996 -0.70001,-1.09998c-0.29999,0 -0.60004,0 -0.90002,0.09998z" fill="#7A7B7C" />
        <text id="svg_117" transform="matrix(0.962,0,0,1,26.9995,15.3867) " y="659" x="428">@ICResx.ItemLocationDetailsQuantity</text>
      </a>
      <a xlink:href="javascript:EventListenter_VPF('IC','StockTransactionInquiry','');" id="svg_83">
        <path id="svg_125" d="m425.11417,692.62976c1.40002,1.30005 2.29999,3 2.59998,4.90002s0.09998,3.79999 -0.79999,5.5c-0.5,0.90002 -1.10004,1.79999 -1.79999,2.5c-0.70001,0.70001 -1.5,1.20001 -2.30005,1.70001c-1.89996,0.89996 -3.79999,1.09998 -5.79999,0.70001c-1.29999,-0.30005 -2.59998,-0.90002 -3.59998,-1.70001c-1.1001,-0.79999 -1.89996,-1.90002 -2.5,-3.10004c-0.79999,-1.79999 -1.1001,-3.6001 -0.79999,-5.5s1.19989,-3.5 2.59998,-4.89996c1.5,-1.60004 3.20001,-2.40002 5.20001,-2.70001c2.79999,-0.20001 5.20001,0.59998 7.20001,2.59998zm-6.30005,4.20001c-0.79999,0.10004 -1.5,0.60004 -2.09998,1.29999c-0.59998,0.60004 -0.79999,1 -0.5,1.10004c0.09998,0.09998 0.30005,-0.10004 0.59998,-0.40002c0.20001,-0.29999 0.40002,-0.5 0.60004,-0.70001c0.39996,-0.39996 0.70001,-0.39996 0.79999,-0.09998c0,0.09998 -0.20001,0.79999 -0.69995,2c-0.50006,1.20001 -0.80005,2 -0.90002,2.29999c-0.19995,0.70001 -0.30005,1.20001 -0.30005,1.5s0.20007,0.60004 0.40002,0.70001c0.29999,0.20001 0.70001,0.20001 1.29999,0c0.90002,-0.29999 1.70001,-0.90002 2.50006,-1.70001c0.49994,-0.5 0.59998,-0.89996 0.39996,-1c-0.10004,0 -0.29999,0.20001 -0.70001,0.60004c-0.59998,0.69995 -1,0.89996 -1.09998,0.79999c-0.10004,-0.10004 -0.10004,-0.29999 0,-0.70001c0.09998,-0.3999 0.40002,-1.09998 0.79999,-2.09998c0.5,-1.20001 0.70001,-2 0.70001,-2.20001c0.19995,-0.79999 0,-1.29999 -0.60004,-1.40002c-0.39996,-0.19989 -0.79999,-0.19989 -1.20001,0zm1.20001,-3.20001c-0.29999,0.10004 -0.49994,0.30005 -0.70001,0.5c-0.19995,0.30005 -0.19995,0.60004 -0.19995,0.90002c0.09998,0.59998 0.40002,0.90002 1.09998,1c0.40002,0 0.70001,-0.09998 1,-0.40002c0.30005,-0.29999 0.40002,-0.59998 0.40002,-1c0,-0.59998 -0.20001,-0.89996 -0.70001,-1.09998c-0.29999,0 -0.60004,0 -0.90002,0.09998z" fill="#7A7B7C" />
        <text id="svg_124" transform="matrix(0.962,0,0,1,26.9995,15.3867) " y="689" x="428">@ICResx.StockTransactions</text>
      </a>
      <a xlink:href="javascript:EventListenter_VPF('IC','TransactionStatistics','');" id="svg_85">
        <path id="svg_144" d="m425.11417,722.62976c1.40002,1.30005 2.29999,3 2.59998,4.90002s0.09998,3.79999 -0.79999,5.5c-0.5,0.90002 -1.10004,1.79999 -1.79999,2.5c-0.70001,0.70001 -1.5,1.20001 -2.30005,1.70001c-1.89996,0.89996 -3.79999,1.09998 -5.79999,0.70001c-1.29999,-0.30005 -2.59998,-0.90002 -3.59998,-1.70001c-1.1001,-0.79999 -1.89996,-1.90002 -2.5,-3.10004c-0.79999,-1.79999 -1.1001,-3.6001 -0.79999,-5.5s1.19989,-3.5 2.59998,-4.89996c1.5,-1.60004 3.20001,-2.40002 5.20001,-2.70001c2.79999,-0.20001 5.20001,0.59998 7.20001,2.59998zm-6.30005,4.20001c-0.79999,0.10004 -1.5,0.60004 -2.09998,1.29999c-0.59998,0.60004 -0.79999,1 -0.5,1.10004c0.09998,0.09998 0.30005,-0.10004 0.59998,-0.40002c0.20001,-0.29999 0.40002,-0.5 0.60004,-0.70001c0.39996,-0.39996 0.70001,-0.39996 0.79999,-0.09998c0,0.09998 -0.20001,0.79999 -0.69995,2c-0.50006,1.20001 -0.80005,2 -0.90002,2.29999c-0.19995,0.70001 -0.30005,1.20001 -0.30005,1.5s0.20007,0.60004 0.40002,0.70001c0.29999,0.20001 0.70001,0.20001 1.29999,0c0.90002,-0.29999 1.70001,-0.90002 2.50006,-1.70001c0.49994,-0.5 0.59998,-0.89996 0.39996,-1c-0.10004,0 -0.29999,0.20001 -0.70001,0.60004c-0.59998,0.69995 -1,0.89996 -1.09998,0.79999c-0.10004,-0.10004 -0.10004,-0.29999 0,-0.70001c0.09998,-0.3999 0.40002,-1.09998 0.79999,-2.09998c0.5,-1.20001 0.70001,-2 0.70001,-2.20001c0.19995,-0.79999 0,-1.29999 -0.60004,-1.40002c-0.39996,-0.19989 -0.79999,-0.19989 -1.20001,0zm1.20001,-3.20001c-0.29999,0.10004 -0.49994,0.30005 -0.70001,0.5c-0.19995,0.30005 -0.19995,0.60004 -0.19995,0.90002c0.09998,0.59998 0.40002,0.90002 1.09998,1c0.40002,0 0.70001,-0.09998 1,-0.40002c0.30005,-0.29999 0.40002,-0.59998 0.40002,-1c0,-0.59998 -0.20001,-0.89996 -0.70001,-1.09998c-0.29999,0 -0.60004,0 -0.90002,0.09998z" fill="#7A7B7C" />
        <text id="svg_143" transform="matrix(0.962,0,0,1,26.9995,15.3867) " y="719" x="428">@ICResx.TransactionStatistics</text>
      </a>
      <g id="Title_86">
        <text id="svg_12" y="516" x="410">@ICResx.InquiriesAndStatistics</text>
        <g id="svg_84">
          <g id="svg_14">
            <path id="svg_17" d="m370,480c-16.59998,0 -30,13.39996 -30,30s13.40002,30 30,30s29.99997,-13.39996 29.99997,-30s-13.39996,-30 -29.99997,-30zm0,56c-14.29999,0 -26,-11.70001 -26,-26c0,-14.29999 11.70001,-26 26,-26c14.30002,0 25.99997,11.70001 25.99997,26c0,14.29999 -11.69995,26 -25.99997,26z" fill="#6639b7" />
            <path id="svg_16" d="m372.90005,514.29999c-0.20004,-0.09998 -0.60004,0.30005 -1.20004,1c-1.10001,1.20001 -1.80002,1.70001 -2,1.40002c-0.20001,-0.20001 -0.20001,-0.59998 0,-1.20001c0.29999,-0.59998 0.70001,-1.89996 1.39999,-3.70001c0.79999,-2.19995 1.30005,-3.5 1.30005,-3.89996c0.29996,-1.40002 -0.10004,-2.20001 -1.10004,-2.50006c-0.60001,-0.19995 -1.30002,-0.09998 -2.10001,0.10004c-1.30002,0.29999 -2.5,1.10004 -3.70001,2.40002c-1,1 -1.29999,1.70001 -0.89999,1.89996c0.20001,0.10004 0.60004,-0.19995 1.10001,-0.79999c0.39999,-0.5 0.79999,-0.89996 1.10001,-1.20001c0.79999,-0.69995 1.19998,-0.79999 1.40002,-0.19995c0.09998,0.19995 -0.40002,1.29999 -1.30005,3.59998c-0.79999,2.09998 -1.29999,3.5 -1.59998,4c-0.40002,1.19995 -0.5,2.09998 -0.5,2.59998c0.09998,0.59998 0.29999,1 0.79999,1.20001c0.60004,0.29999 1.29999,0.29999 2.29999,0.10004c1.60001,-0.5 3.10001,-1.5 4.40002,-3c0.90002,-0.90002 1.10004,-1.5 0.60004,-1.80005z" fill="#6639b7" />
            <path id="svg_15" d="m372.90005,499.90002c-0.5,-0.20001 -1.00006,-0.20001 -1.50003,0s-1,0.49994 -1.19998,1s-0.40002,1 -0.40002,1.59998c0.10001,1.10004 0.69998,1.70001 1.89999,1.70001c0.70004,0.09998 1.29999,-0.20001 1.79999,-0.59998c0.5,-0.5 0.80002,-1 0.80002,-1.70001c-0.09998,-1.10004 -0.5,-1.70001 -1.39996,-2z" fill="#6639b7" />
          </g>
        </g>
      </g>
      <a xlink:href="javascript:EventListenter_VPF('IC','CurrentTransactionInquiry','');" id="svg_91">
        <path d="m425.11417,542.62982c1.40002,1.29999 2.29999,3 2.59998,4.89996s0.09998,3.79999 -0.79999,5.5c-0.5,0.90002 -1.10004,1.79999 -1.79999,2.5c-0.70001,0.70001 -1.5,1.20001 -2.30005,1.70001c-1.89996,0.89996 -3.79999,1.09998 -5.79999,0.70001c-1.29999,-0.29999 -2.59998,-0.90002 -3.59998,-1.70001c-1.1001,-0.79999 -1.89996,-1.90002 -2.5,-3.10004c-0.79999,-1.79999 -1.1001,-3.6001 -0.79999,-5.49994s1.19989,-3.50006 2.59998,-4.90002c1.5,-1.60004 3.20001,-2.40002 5.20001,-2.70001c2.79999,-0.20001 5.20001,0.60004 7.20001,2.60004zm-6.30005,4.19995c-0.79999,0.10004 -1.5,0.60004 -2.09998,1.29999c-0.59998,0.60004 -0.79999,1 -0.5,1.10004c0.09998,0.09998 0.30005,-0.10004 0.59998,-0.40002c0.20001,-0.29999 0.40002,-0.5 0.60004,-0.70001c0.39996,-0.39996 0.70001,-0.39996 0.79999,-0.09998c0,0.09998 -0.20001,0.79999 -0.69995,2c-0.50006,1.20001 -0.80005,2 -0.90002,2.29999c-0.19995,0.70001 -0.30005,1.20001 -0.30005,1.5s0.20007,0.60004 0.40002,0.70001c0.29999,0.20001 0.70001,0.20001 1.29999,0c0.90002,-0.29999 1.70001,-0.89996 2.50006,-1.70001c0.49994,-0.5 0.59998,-0.89996 0.39996,-1c-0.10004,0 -0.29999,0.20001 -0.70001,0.60004c-0.59998,0.69995 -1,0.89996 -1.09998,0.79999c-0.10004,-0.10004 -0.10004,-0.29999 0,-0.70001c0.09998,-0.3999 0.40002,-1.09998 0.79999,-2.09998c0.5,-1.20001 0.70001,-2 0.70001,-2.20001c0.19995,-0.79999 0,-1.29999 -0.60004,-1.40002c-0.39996,-0.19989 -0.79999,-0.19989 -1.20001,0zm1.20001,-3.19995c-0.29999,0.09998 -0.49994,0.29999 -0.70001,0.49994c-0.19995,0.30005 -0.19995,0.60004 -0.19995,0.90002c0.09998,0.60004 0.40002,0.90002 1.09998,1c0.40002,0 0.70001,-0.09998 1,-0.39996c0.30005,-0.30005 0.40002,-0.60004 0.40002,-1c0,-0.60004 -0.20001,-0.90002 -0.70001,-1.10004c-0.29999,0 -0.60004,0 -0.90002,0.10004z" fill="#7A7B7C" id="svg_122" />
        <text transform="matrix(0.962,0,0,1,26.9995,15.3867) " y="539" x="428" id="svg_67">@ICResx.CurrentTransactions</text>
      </a>
    </g>
    <g id="collapse_99">
      <g id="Title_87">
        <text transform="matrix(0.9652999999999999,0,0,1,464.78124999999994,70.3872) " y="205" x="-56" id="svg_160">@ICResx.AnalyticalReports</text>
        <g id="svg_161">
          <path fill="#0089c6" d="m370,240c-16.60001,0 -30,13.39999 -30,30s13.39999,30 30,30s30,-13.39996 30,-30s-13.39999,-30 -30,-30zm0,56c-14.29999,0 -26,-11.70001 -26,-26c0,-14.29999 11.70001,-26 26,-26s26,11.70001 26,26c0,14.29999 -11.69998,26 -26,26z" id="svg_162" />
          <g id="svg_163">
            <rect x="373" y="270" fill="#0089c6" width="2" height="5" id="svg_164" />
            <rect x="370" y="264" fill="#0089c6" width="2" height="11" id="svg_165" />
            <rect x="367" y="268" fill="#0089c6" width="2" height="7" id="svg_166" />
            <rect x="364" y="262" fill="#0089c6" width="2" height="13" id="svg_167" />
            <rect x="361" y="272" fill="#0089c6" width="2" height="3" id="svg_168" />
            <rect x="361" y="276" fill="#0089c6" width="17" height="1" id="svg_169" />
            <rect x="376" y="266" fill="#0089c6" width="2" height="9" id="svg_170" />
          </g>
        </g>
      </g>
      <a xlink:href="javascript:EventListenter_VPF('IC','SalesStatisticsReport','');" id="svg_94">
        <g id="svg_195">
          <rect x="422" y="308" fill="#7A7B7C" width="2" height="5" id="svg_196" />
          <rect x="419" y="302" fill="#7A7B7C" width="2" height="11" id="svg_197" />
          <rect x="416" y="306" fill="#7A7B7C" width="2" height="7" id="svg_198" />
          <rect x="413" y="300" fill="#7A7B7C" width="2" height="13" id="svg_199" />
          <rect x="410" y="310" fill="#7A7B7C" width="2" height="3" id="svg_200" />
          <rect x="410" y="314" fill="#7A7B7C" width="17" height="1" id="svg_201" />
          <rect x="425" y="304" fill="#7A7B7C" width="2" height="9" id="svg_202" />
        </g>
        <text transform="matrix(0.962,0,0,1,26.9995,15.3867) " y="297" x="428" id="svg_194">@ICResx.SalesStatistics</text>
      </a>
      <a xlink:href="javascript:EventListenter_VPF('IC','TransactionStatisticsReport','');" id="svg_96">
        <g id="svg_175">
          <rect x="422" y="337" fill="#7A7B7C" width="2" height="5" id="svg_176" />
          <rect x="419" y="331" fill="#7A7B7C" width="2" height="11" id="svg_177" />
          <rect x="416" y="335" fill="#7A7B7C" width="2" height="7" id="svg_178" />
          <rect x="413" y="329" fill="#7A7B7C" width="2" height="13" id="svg_179" />
          <rect x="410" y="339" fill="#7A7B7C" width="2" height="3" id="svg_180" />
          <rect x="410" y="343" fill="#7A7B7C" width="17" height="1" id="svg_181" />
          <rect x="425" y="333" fill="#7A7B7C" width="2" height="9" id="svg_182" />
        </g>
        <text transform="matrix(0.962,0,0,1,26.9995,15.3867) " y="327" x="428" id="svg_174">@ICResx.TransactionStatistics</text>
      </a>
      <a xlink:href="javascript:EventListenter_VPF('IC','TransactionHistory','');" id="svg_98">
        <g id="svg_185">
          <rect x="421" y="368" fill="#7A7B7C" width="2" height="5" id="svg_186" />
          <rect x="418" y="362" fill="#7A7B7C" width="2" height="11" id="svg_187" />
          <rect x="415" y="366" fill="#7A7B7C" width="2" height="7" id="svg_188" />
          <rect x="412" y="360" fill="#7A7B7C" width="2" height="13" id="svg_189" />
          <rect x="409" y="370" fill="#7A7B7C" width="2" height="3" id="svg_190" />
          <rect x="409" y="374" fill="#7A7B7C" width="17" height="1" id="svg_191" />
          <rect x="424" y="364" fill="#7A7B7C" width="2" height="9" id="svg_192" />
        </g>
        <text transform="matrix(0.962,0,0,1,26.9995,15.3867) " y="357" x="428" id="svg_184">@ICResx.TransactionHistory</text>
      </a>
    </g>
    <g id="collapse_104">
      <a xlink:href="javascript:EventListenter_VPF('IC','TransactionListing','');" id="svg_70">
        <g id="svg_52">
          <rect x="422" y="68" fill="#7A7B7C" width="2" height="5" id="svg_53" />
          <rect x="419" y="62" fill="#7A7B7C" width="2" height="11" id="svg_54" />
          <rect x="416" y="66" fill="#7A7B7C" width="2" height="7" id="svg_55" />
          <rect x="413" y="60" fill="#7A7B7C" width="2" height="13" id="svg_56" />
          <rect x="410" y="70" fill="#7A7B7C" width="2" height="3" id="svg_57" />
          <rect x="410" y="74" fill="#7A7B7C" width="17" height="1" id="svg_58" />
          <rect x="425" y="64" fill="#7A7B7C" width="2" height="9" id="svg_59" />
        </g>
        <text transform="matrix(0.962,0,0,1,26.9995,15.3867) " y="57" x="428" id="svg_51">@ICResx.TransactionList</text>
      </a>
      <g id="Title_88">
        <text y="0" x="7" transform="matrix(0.9652999999999999,0,0,1,402.78125,36.3872) " id="svg_2">@ICResx.TransactionReports</text>
        <g id="svg_3">
          <path fill="#41a940" d="m370,0c-16.60001,0 -30,13.4 -30,30s13.39999,30 30,30s30,-13.4 30,-30s-13.39999,-30 -30,-30zm0,56c-14.29999,0 -26,-11.7 -26,-26c0,-14.3 11.70001,-26 26,-26s26,11.7 26,26c0,14.3 -11.70001,26 -26,26z" id="svg_4" />
          <g id="svg_5">
            <rect x="373" y="30" fill="#41a940" width="2" height="5" id="svg_6" />
            <rect x="370" y="24" fill="#41a940" width="2" height="11" id="svg_7" />
            <rect x="367" y="28" fill="#41a940" width="2" height="7" id="svg_8" />
            <rect x="364" y="22" fill="#41a940" width="2" height="13" id="svg_9" />
            <rect x="361" y="32" fill="#41a940" width="2" height="3" id="svg_10" />
            <rect x="361" y="36" fill="#41a940" width="17" height="1" id="svg_11" />
            <rect x="376" y="26" fill="#41a940" width="2" height="9" id="svg_12" />
          </g>
        </g>
      </g>
      <a xlink:href="javascript:EventListenter_VPF('IC','GLTransaction','');" id="svg_101">
        <g id="svg_42">
          <rect x="421" y="128" fill="#7A7B7C" width="2" height="5" id="svg_43" />
          <rect x="418" y="122" fill="#7A7B7C" width="2" height="11" id="svg_44" />
          <rect x="415" y="126" fill="#7A7B7C" width="2" height="7" id="svg_45" />
          <rect x="412" y="120" fill="#7A7B7C" width="2" height="13" id="svg_46" />
          <rect x="409" y="130" fill="#7A7B7C" width="2" height="3" id="svg_47" />
          <rect x="409" y="134" fill="#7A7B7C" width="17" height="1" id="svg_48" />
          <rect x="424" y="124" fill="#7A7B7C" width="2" height="9" id="svg_49" />
        </g>
        <text transform="matrix(0.962,0,0,1,26.9995,15.3867) " y="117" x="428" id="svg_41">@ICResx.GLTransactions</text>
      </a>
      <a xlink:href="javascript:EventListenter_VPF('IC','PostingJournal','');" id="svg_103">
        <g id="svg_32">
          <g id="svg_81">
            <rect x="422" y="98" fill="#7A7B7C" width="2" height="5" id="svg_33" />
            <rect x="419" y="92" fill="#7A7B7C" width="2" height="11" id="svg_34" />
            <rect x="416" y="96" fill="#7A7B7C" width="2" height="7" id="svg_36" />
            <rect x="413" y="90" fill="#7A7B7C" width="2" height="13" id="svg_37" />
            <rect x="410" y="100" fill="#7A7B7C" width="2" height="3" id="svg_38" />
            <rect x="410" y="104" fill="#7A7B7C" width="17" height="1" id="svg_39" />
            <rect x="425" y="94" fill="#7A7B7C" width="2" height="9" id="svg_40" />
          </g>
        </g>
        <text transform="matrix(0.962,0,0,1,26.9995,15.3867) " y="87" x="428" id="svg_28">@ICResx.PostingJournals</text>
      </a>
    </g>
  </g>
</svg>