@* Copyright (c) 1994-2014 Sage Software, Inc.  All rights reserved. *@
@using Sage.CA.SBS.ERP.Sage300.VPF.Resources
<svg width="670" height="1400" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
 <g>
  <title>Layer 1</title>
  <text id="svg_160" x="-2395.09339" y="593" transform="matrix(0.9652999999999999,0,0,1,468.99999999999994,70.3872) " stroke="null">@OEResx.AnalyticalReports</text>
  <g id="svg_64">
   <rect fill="#7f7f7f" stroke-width="null" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="28" y="58" width="4" height="52.5" id="svg_29" stroke="null"/>
   <a xlink:href="javascript:EventListenter_VPF(&#x27;OE','OrderEntry','');" id="svg_22" stroke="null">
    <text id="svg_26" x="0" y="0" transform="matrix(0.9652999999999999,0,0,1,69.437,34.3872) ">@OEResx.QuotesSalesOrders</text>
    <path id="svg_27" fill="#007F64" d="m29.99999,0c-16.59999,0 -29.99999,13.40003 -29.99999,30.00001s13.4,29.99997 29.99999,29.99997s30,-13.40001 30,-29.99997s-13.4,-30.00001 -30,-30.00001zm-10.4,22.50001c-0.79998,-0.79999 -0.79998,-2.09998 0,-2.90001c0.80001,-0.79999 2.10001,-0.79999 2.90001,0c0.4,0.40001 1.5,1.5 1.5,1.5l-1.5,1.5l-1.40001,1.40001c0,0 -1,-1 -1.5,-1.5zm5.10001,-0.7l8.60001,8.60004l0.69998,3.59996l-3.59999,-0.7l-8.59999,-8.59996l2.89999,-2.90001l0,-0.00003zm13.29999,14.19997c0,1.09999 -0.9,2 -2,2l-11.99999,0c-1.1,0 -2,-0.90001 -2,-2l0,-6.89998l2,2l0,4.89998l11.99999,0l0,-11.99998l-4.9,0l-2,-2l6.9,0c1.1,0 2,0.90003 2,2l0,11.99998z"/>
   </a>
   <a xlink:href="javascript:EventListenter_VPF(&#x27;OE','CreditDebitNoteEntry','');" id="svg_23" stroke="null">
    <text id="svg_133" x="-181" y="-104" transform="matrix(0.9652999999999999,0,0,1,245.79176684570314,249.97409880371094) ">@OEResx.ReturnsandCreditDebitNotes</text>
    <path id="svg_134" fill="#007F64" d="m30,110c-16.60001,0 -30,13.40002 -30,30s13.39999,30 30,30s30,-13.40002 30,-30s-13.40001,-30 -30,-30zm-10.40001,22.5c-0.8,-0.8 -0.8,-2.09999 0,-2.90002c0.8,-0.8 2.10001,-0.8 2.90001,0c0.39999,0.40002 1.5,1.50003 1.5,1.50003l-1.5,1.49997l-1.40001,1.40002c0,0 -1,-1 -1.5,-1.5zm5.10001,-0.70003l8.60001,8.60005l0.7,3.59999l-3.60001,-0.70001l-8.60001,-8.59999l2.90001,-2.89998l0,-0.00006l0,-0.00002l0,0.00002zm13.3,14.20003c0,1.09999 -0.90001,2 -2,2l-12,0c-1.10001,0 -2,-0.90001 -2,-2l0,-6.90001l2,2l0,4.90001l12,0l0,-12l-4.90001,0l-2,-2l6.90001,0c1.09999,0 2,0.89999 2,2l0,12z" stroke-width="0"/>
   </a>
   <a xlink:href="javascript:EventListenter_VPF(&#x27;IC','DayEndProcessing','');" id="svg_24">
    <text id="svg_156" x="-176" y="56" transform="matrix(0.9652999999999999,0,0,1,240.98889941406247,249.974) ">@OEResx.DayEndProcessing</text>
    <path id="svg_157" fill="#0089c6" d="m29.99998,270c-16.59999,0 -29.99998,13.40002 -29.99998,30s13.39999,30 29.99998,30s30,-13.40002 30,-30s-13.4,-30 -30,-30zm-10.39999,22.5c-0.79999,-0.80005 -0.79999,-2.09998 0,-2.89996c0.8,-0.79999 2.10001,-0.79999 2.90001,0c0.39999,0.39996 1.5,1.49994 1.5,1.49994l-1.5,1.50006l-1.40001,1.39996c0,0 -1,-1 -1.5,-1.5zm5.10001,-0.69995l8.6,8.59998l0.69998,3.59998l-3.59998,-0.69989l-8.59999,-8.60004l2.9,-2.89999l0,0l-0.00001,0l0,0l0,-0.00003zm13.29997,14.19995c0,1.09998 -0.89999,2 -2,2l-11.99997,0c-1.10001,0 -2,-0.90002 -2,-2l0,-6.90002l2,2l0,4.90002l11.99997,0l0,-12l-4.89999,0l-2,-2l6.89999,0c1.10001,0 2,0.89996 2,2l0,12z"/>
   </a>
   <a xlink:href="javascript:EventListenter_VPF(&#x27;AR','Customer','');" id="svg_25" stroke="null">
    <g id="svg_137" stroke="null">
     <path id="svg_138" d="m30,456.20001c-2.10001,0 -3.79999,1.70001 -3.79999,3.79999s1.69998,3.79999 3.79999,3.79999s3.79999,-1.70001 3.79999,-3.79999s-1.69998,-3.79999 -3.79999,-3.79999zm0,6.09998c-1.20001,0 -2.29999,-1 -2.29999,-2.29999c0,-1.20001 1,-2.29999 2.29999,-2.29999c1.20001,0 2.29999,1 2.29999,2.29999c0,1.20001 -1.09998,2.29999 -2.29999,2.29999z" fill="#ff5800" stroke="null"/>
     <path id="svg_139" d="m30,430c-16.60001,0 -30,13.40002 -30,30s13.39999,30 30,30s30,-13.40002 30,-30s-13.39999,-30 -30,-30zm7.5,32.09998c-0.20001,0.60004 -0.39999,1.20001 -0.70001,1.80005c0.90002,1.59998 0.90002,2.59998 0.30002,3.19995s-1.60001,0.60004 -3.20001,-0.29999c-0.60001,0.29999 -1.19998,0.60004 -1.79999,0.70001c-0.5,1.79999 -1.30002,2.5 -2.10001,2.5s-1.60001,-0.70001 -2.10001,-2.5c-0.60001,-0.20001 -1.19998,-0.40002 -1.79999,-0.70001c-1.60001,0.90002 -2.60001,0.90002 -3.20001,0.29999c-0.60001,-0.59998 -0.60001,-1.59998 0.30002,-3.19995c-0.30002,-0.60004 -0.60001,-1.20001 -0.70001,-1.80005c-1.79999,-0.5 -2.5,-1.29999 -2.5,-2.09998s0.70001,-1.59998 2.5,-2.09998c0.20001,-0.60004 0.39999,-1.20001 0.70001,-1.80005c-0.90002,-1.59998 -0.90002,-2.59998 -0.30002,-3.19995s1.60001,-0.60004 3.20001,0.29999c0.60001,-0.29999 1.19998,-0.60004 1.79999,-0.70001c0.5,-1.79999 1.30002,-2.5 2.10001,-2.5s1.60001,0.70001 2.10001,2.5c0.60001,0.20001 1.19998,0.40002 1.79999,0.70001c1.60001,-0.90002 2.60001,-0.90002 3.20001,-0.29999c0.60001,0.59998 0.60001,1.59998 -0.30002,3.19995c0.30002,0.60004 0.60001,1.20001 0.70001,1.80005c1.79999,0.5 2.5,1.29999 2.5,2.09998s-0.70001,1.59998 -2.5,2.09998z" fill="#ff5800" stroke="null"/>
    </g>
    <text id="svg_140" x="338" y="-250" transform="matrix(0.9652999999999999,0,0,1,-256.6232562866211,717.387) ">@OEResx.Customers</text>
   </a>
   <g id="collapse_64">
    <g id="Title_148" stroke="null">
     <text id="svg_2" transform="matrix(0.9652999999999999,0,0,1,404.7472229003906,36.3872) " x="6" y="0">@OEResx.Print</text>
     <g id="svg_3" stroke="null">
      <path id="svg_4" d="m370,0c-16.60001,0 -30,13.4 -30,30s13.39999,30 30,30s30,-13.4 30,-30s-13.39999,-30 -30,-30zm0,56c-14.29999,0 -26,-11.7 -26,-26c0,-14.3 11.70001,-26 26,-26s26,11.7 26,26c0,14.3 -11.70001,26 -26,26z" fill="#007F64" stroke="null"/>
      <g id="svg_5" stroke="null">
       <rect id="svg_6" height="5" width="2" fill="#007F64" y="30" x="373" stroke="null"/>
       <rect id="svg_7" height="11" width="2" fill="#007F64" y="24" x="370" stroke="null"/>
       <rect id="svg_8" height="7" width="2" fill="#007F64" y="28" x="367" stroke="null"/>
       <rect id="svg_9" height="13" width="2" fill="#007F64" y="22" x="364" stroke="null"/>
       <rect id="svg_10" height="3" width="2" fill="#007F64" y="32" x="361" stroke="null"/>
       <rect id="svg_11" height="1" width="17" fill="#007F64" y="36" x="361" stroke="null"/>
       <rect id="svg_12" height="9" width="2" fill="#007F64" y="26" x="376" stroke="null"/>
      </g>
     </g>
    </g>
    <a xlink:href="javascript:EventListenter_VPF(&#x27;OE','OrderConfirmationReport','');" id="svg_30" stroke="null">
     <text id="svg_51" x="428" y="58" transform="matrix(0.962,0,0,1,26.9995,15.3867) ">@OEResx.OrderConfirmations</text>
     <g id="svg_52" stroke="null">
      <rect id="svg_53" height="5" width="2" fill="#7A7B7C" y="68" x="422" stroke="null"/>
      <rect id="svg_54" height="11" width="2" fill="#7A7B7C" y="62" x="419" stroke="null"/>
      <rect id="svg_55" height="7" width="2" fill="#7A7B7C" y="66" x="416" stroke="null"/>
      <rect id="svg_56" height="13" width="2" fill="#7A7B7C" y="60" x="413" stroke="null"/>
      <rect id="svg_57" height="3" width="2" fill="#7A7B7C" y="70" x="410" stroke="null"/>
      <rect id="svg_58" height="1" width="17" fill="#7A7B7C" y="74" x="410" stroke="null"/>
      <rect id="svg_59" height="9" width="2" fill="#7A7B7C" y="64" x="425" stroke="null"/>
     </g>
    </a>
    <a xlink:href="javascript:EventListenter_VPF(&#x27;OE','Quote','');" id="svg_31" stroke="null">
     <text id="svg_28" x="428" y="88" transform="matrix(0.962,0,0,1,26.9995,15.3867) ">@OEResx.Quotes</text>
     <g id="svg_32" stroke="null">
      <rect id="svg_33" height="5" width="2" fill="#7A7B7C" y="98" x="422" stroke="null"/>
      <rect id="svg_34" height="11" width="2" fill="#7A7B7C" y="92" x="419" stroke="null"/>
      <rect id="svg_36" height="7" width="2" fill="#7A7B7C" y="96" x="416" stroke="null"/>
      <rect id="svg_37" height="13" width="2" fill="#7A7B7C" y="90" x="413" stroke="null"/>
      <rect id="svg_38" height="3" width="2" fill="#7A7B7C" y="100" x="410" stroke="null"/>
      <rect id="svg_39" height="1" width="17" fill="#7A7B7C" y="104" x="410" stroke="null"/>
      <rect id="svg_40" height="9" width="2" fill="#7A7B7C" y="94" x="425" stroke="null"/>
     </g>
    </a>
    <a xlink:href="javascript:EventListenter_VPF(&#x27;OE','PickingSlipReport','');" id="svg_130" stroke="null">
     <text id="svg_41" x="428" y="118" transform="matrix(0.962,0,0,1,26.9995,15.3867) ">@OEResx.PickingSlips</text>
     <g id="svg_42" stroke="null">
      <rect id="svg_43" height="5" width="2" fill="#7A7B7C" y="128" x="422" stroke="null"/>
      <rect id="svg_44" height="11" width="2" fill="#7A7B7C" y="122" x="419" stroke="null"/>
      <rect id="svg_45" height="7" width="2" fill="#7A7B7C" y="126" x="416" stroke="null"/>
      <rect id="svg_46" height="13" width="2" fill="#7A7B7C" y="120" x="413" stroke="null"/>
      <rect id="svg_47" height="3" width="2" fill="#7A7B7C" y="130" x="410" stroke="null"/>
      <rect id="svg_48" height="1" width="17" fill="#7A7B7C" y="134" x="410" stroke="null"/>
      <rect id="svg_49" height="9" width="2" fill="#7A7B7C" y="124" x="425" stroke="null"/>
     </g>
    </a>
    <a xlink:href="javascript:EventListenter_VPF(&#x27;OE','ShippingLabelReport','');" id="svg_135" stroke="null">
     <text id="svg_60" x="428" y="148" transform="matrix(0.962,0,0,1,26.9995,15.3867) ">@OEResx.ShippingLabels</text>
     <g id="svg_61" stroke="null">
      <rect id="svg_62" height="5" width="2" fill="#7A7B7C" y="158" x="422" stroke="null"/>
      <rect id="svg_63" height="11" width="2" fill="#7A7B7C" y="152" x="419" stroke="null"/>
      <rect id="svg_68" height="7" width="2" fill="#7A7B7C" y="156" x="416" stroke="null"/>
      <rect id="svg_69" height="13" width="2" fill="#7A7B7C" y="150" x="413" stroke="null"/>
      <rect id="svg_70" height="3" width="2" fill="#7A7B7C" y="160" x="410" stroke="null"/>
      <rect id="svg_71" height="1" width="17" fill="#7A7B7C" y="164" x="410" stroke="null"/>
      <rect id="svg_72" height="9" width="2" fill="#7A7B7C" y="154" x="425" stroke="null"/>
     </g>
    </a>
    <a xlink:href="javascript:EventListenter_VPF(&#x27;OE','InvoiceReport','');" id="svg_13" stroke="null">
     <text id="svg_73" x="438" y="193">@OEResx.Invoices</text>
     <g id="svg_74" stroke="null">
      <rect id="svg_75" height="5" width="2" fill="#7A7B7C" y="188" x="422" stroke="null"/>
      <rect id="svg_76" height="11" width="2" fill="#7A7B7C" y="182" x="419" stroke="null"/>
      <rect id="svg_77" height="7" width="2" fill="#7A7B7C" y="186" x="416" stroke="null"/>
      <rect id="svg_80" height="13" width="2" fill="#7A7B7C" y="180" x="413" stroke="null"/>
      <rect id="svg_81" height="3" width="2" fill="#7A7B7C" y="190" x="410" stroke="null"/>
      <rect id="svg_82" height="1" width="17" fill="#7A7B7C" y="194" x="410" stroke="null"/>
      <rect id="svg_83" height="9" width="2" fill="#7A7B7C" y="184" x="425" stroke="null"/>
     </g>
    </a>
    <a xlink:href="javascript:EventListenter_VPF(&#x27;OE','CreditDebitNote','');" id="svg_18" stroke="null">
     <text id="svg_104" x="428" y="208" transform="matrix(0.962,0,0,1,26.9995,15.3867) ">@OEResx.CreditDebitNotes</text>
     <g id="svg_105" stroke="null">
      <rect id="svg_106" height="5" width="2" fill="#7A7B7C" y="218" x="422" stroke="null"/>
      <rect id="svg_107" height="11" width="2" fill="#7A7B7C" y="212" x="419" stroke="null"/>
      <rect id="svg_108" height="7" width="2" fill="#7A7B7C" y="216" x="416" stroke="null"/>
      <rect id="svg_110" height="13" width="2" fill="#7A7B7C" y="210" x="413" stroke="null"/>
      <rect id="svg_111" height="3" width="2" fill="#7A7B7C" y="220" x="410" stroke="null"/>
      <rect id="svg_113" height="1" width="17" fill="#7A7B7C" y="224" x="410" stroke="null"/>
      <rect id="svg_114" height="9" width="2" fill="#7A7B7C" y="214" x="425" stroke="null"/>
     </g>
    </a>
   </g>
   <g id="collapse_78">
    <g id="Title_50">
     <g id="svg_161" stroke="null">
      <path id="svg_162" d="m370,330c-16.60001,0 -30,13.39999 -30,30s13.39999,30 30,30s30,-13.39996 30,-30s-13.39999,-30 -30,-30zm0,56c-14.29999,0 -26,-11.70001 -26,-26c0,-14.29999 11.70001,-26 26,-26s26,11.70001 26,26c0,14.29999 -11.69998,26 -26,26z" fill="#0089c6" stroke="null"/>
      <g id="svg_163" stroke="null">
       <rect id="svg_164" height="5" width="2" fill="#0089c6" y="360" x="373" stroke="null"/>
       <rect id="svg_165" height="11" width="2" fill="#0089c6" y="354" x="370" stroke="null"/>
       <rect id="svg_166" height="7" width="2" fill="#0089c6" y="358" x="367" stroke="null"/>
       <rect id="svg_167" height="13" width="2" fill="#0089c6" y="352" x="364" stroke="null"/>
       <rect id="svg_168" height="3" width="2" fill="#0089c6" y="362" x="361" stroke="null"/>
       <rect id="svg_169" height="1" width="17" fill="#0089c6" y="366" x="361" stroke="null"/>
       <rect id="svg_170" height="9" width="2" fill="#0089c6" y="356" x="376" stroke="null"/>
      </g>
     </g>
     <text x="169" y="114" transform="matrix(0.9652999999999999,0,0,1,245.79176684570314,249.97409880371094) " id="svg_116">@OEResx.AnalyticalReports</text>
    </g>
    <a xlink:href="javascript:EventListenter_VPF(&#x27;OE','OrderActionReport','');" id="svg_146" stroke="null">
     <text id="svg_174" x="428" y="418" transform="matrix(0.962,0,0,1,26.9995,15.3867) ">@OEResx.OrderAction</text>
     <g id="svg_175" stroke="null">
      <rect id="svg_176" height="5" width="2" fill="#7A7B7C" y="427" x="422" stroke="null"/>
      <rect id="svg_177" height="11" width="2" fill="#7A7B7C" y="421" x="419" stroke="null"/>
      <rect id="svg_178" height="7" width="2" fill="#7A7B7C" y="425" x="416" stroke="null"/>
      <rect id="svg_179" height="13" width="2" fill="#7A7B7C" y="419" x="413" stroke="null"/>
      <rect id="svg_180" height="3" width="2" fill="#7A7B7C" y="429" x="410" stroke="null"/>
      <rect id="svg_181" height="1" width="17" fill="#7A7B7C" y="433" x="410" stroke="null"/>
      <rect id="svg_182" height="9" width="2" fill="#7A7B7C" y="423" x="425" stroke="null"/>
     </g>
    </a>
    <a xlink:href="javascript:EventListenter_VPF(&#x27;OE','AgedOrderReport','');" id="svg_147" stroke="null">
     <text id="svg_184" x="428" y="448" transform="matrix(0.962,0,0,1,26.9995,15.3867) ">@OEResx.AgedOrders</text>
     <g id="svg_185" stroke="null">
      <rect id="svg_186" height="5" width="2" fill="#7A7B7C" y="458" x="422" stroke="null"/>
      <rect id="svg_187" height="11" width="2" fill="#7A7B7C" y="452" x="419" stroke="null"/>
      <rect id="svg_188" height="7" width="2" fill="#7A7B7C" y="456" x="416" stroke="null"/>
      <rect id="svg_189" height="13" width="2" fill="#7A7B7C" y="450" x="413" stroke="null"/>
      <rect id="svg_190" height="3" width="2" fill="#7A7B7C" y="460" x="410" stroke="null"/>
      <rect id="svg_191" height="1" width="17" fill="#7A7B7C" y="464" x="410" stroke="null"/>
      <rect id="svg_192" height="9" width="2" fill="#7A7B7C" y="454" x="425" stroke="null"/>
     </g>
    </a>
    <a xlink:href="javascript:EventListenter_VPF(&#x27;OE','PostingJournal','');" id="svg_149" stroke="null">
     <text id="svg_204" x="428" y="478" transform="matrix(0.962,0,0,1,26.9995,15.3867) ">@OEResx.PostingJournals</text>
     <g id="svg_205" stroke="null">
      <rect id="svg_206" height="5" width="2" fill="#7A7B7C" y="487" x="422" stroke="null"/>
      <rect id="svg_207" height="11" width="2" fill="#7A7B7C" y="481" x="419" stroke="null"/>
      <rect id="svg_208" height="7" width="2" fill="#7A7B7C" y="485" x="416" stroke="null"/>
      <rect id="svg_209" height="13" width="2" fill="#7A7B7C" y="479" x="413" stroke="null"/>
      <rect id="svg_210" height="3" width="2" fill="#7A7B7C" y="489" x="410" stroke="null"/>
      <rect id="svg_211" height="1" width="17" fill="#7A7B7C" y="493" x="410" stroke="null"/>
      <rect id="svg_212" height="9" width="2" fill="#7A7B7C" y="483" x="425" stroke="null"/>
     </g>
    </a>
    <a xlink:href="javascript:EventListenter_VPF(&#x27;OE','InvoiceActionReport','');" id="svg_152" stroke="null">
     <text id="svg_214" x="428" y="508" transform="matrix(0.962,0,0,1,26.9995,15.3867) ">@OEResx.InvoiceAction</text>
     <g id="svg_215" stroke="null">
      <rect id="svg_216" height="5" width="2" fill="#7A7B7C" y="517" x="422" stroke="null"/>
      <rect id="svg_217" height="11" width="2" fill="#7A7B7C" y="511" x="419" stroke="null"/>
      <rect id="svg_218" height="7" width="2" fill="#7A7B7C" y="515" x="416" stroke="null"/>
      <rect id="svg_219" height="13" width="2" fill="#7A7B7C" y="509" x="413" stroke="null"/>
      <rect id="svg_220" height="3" width="2" fill="#7A7B7C" y="519" x="410" stroke="null"/>
      <rect id="svg_221" height="1" width="17" fill="#7A7B7C" y="523" x="410" stroke="null"/>
      <rect id="svg_222" height="9" width="2" fill="#7A7B7C" y="513" x="425" stroke="null"/>
     </g>
    </a>
    <a xlink:href="javascript:EventListenter_VPF(&#x27;OE','SalesHistoryReport','');" id="svg_153" stroke="null">
     <text id="svg_224" x="428" y="538" transform="matrix(0.962,0,0,1,26.9995,15.3867) ">@OEResx.SalesHistory</text>
     <g id="svg_225" stroke="null">
      <rect id="svg_226" height="5" width="2" fill="#7A7B7C" y="547" x="422" stroke="null"/>
      <rect id="svg_227" height="11" width="2" fill="#7A7B7C" y="541" x="419" stroke="null"/>
      <rect id="svg_228" height="7" width="2" fill="#7A7B7C" y="545" x="416" stroke="null"/>
      <rect id="svg_229" height="13" width="2" fill="#7A7B7C" y="539" x="413" stroke="null"/>
      <rect id="svg_230" height="3" width="2" fill="#7A7B7C" y="549" x="410" stroke="null"/>
      <rect id="svg_231" height="1" width="17" fill="#7A7B7C" y="553" x="410" stroke="null"/>
      <rect id="svg_232" height="9" width="2" fill="#7A7B7C" y="543" x="425" stroke="null"/>
     </g>
    </a>
    <a xlink:href="javascript:EventListenter_VPF(&#x27;OE','SalesStatisticsReport','');" id="svg_155" stroke="null">
     <text x="438" y="584" id="svg_84">@OEResx.SalesStatistics</text>
     <g id="svg_85" stroke="null">
      <rect height="5" width="2" fill="#7A7B7C" y="577" x="421" id="svg_86" stroke="null"/>
      <rect height="11" width="2" fill="#7A7B7C" y="571" x="418" id="svg_87" stroke="null"/>
      <rect height="7" width="2" fill="#7A7B7C" y="575" x="415" id="svg_88" stroke="null"/>
      <rect height="13" width="2" fill="#7A7B7C" y="569" x="412" id="svg_89" stroke="null"/>
      <rect height="3" width="2" fill="#7A7B7C" y="579" x="409" id="svg_90" stroke="null"/>
      <rect height="1" width="17" fill="#7A7B7C" y="583" x="409" id="svg_91" stroke="null"/>
      <rect height="9" width="2" fill="#7A7B7C" y="573" x="424" id="svg_92" stroke="null"/>
     </g>
    </a>
    <a xlink:href="javascript:EventListenter_VPF(&#x27;OE','GLTransaction','');" id="svg_158" stroke="null">
     <text x="428" y="598" transform="matrix(0.962,0,0,1,26.9995,15.3867) " id="svg_93">@OEResx.GLTransactions</text>
     <g id="svg_94" stroke="null">
      <rect height="5" width="2" fill="#7A7B7C" y="607" x="422" id="svg_95" stroke="null"/>
      <rect height="11" width="2" fill="#7A7B7C" y="601" x="419" id="svg_96" stroke="null"/>
      <rect height="7" width="2" fill="#7A7B7C" y="605" x="416" id="svg_97" stroke="null"/>
      <rect height="13" width="2" fill="#7A7B7C" y="599" x="413" id="svg_98" stroke="null"/>
      <rect height="3" width="2" fill="#7A7B7C" y="609" x="410" id="svg_99" stroke="null"/>
      <rect height="1" width="17" fill="#7A7B7C" y="613" x="410" id="svg_100" stroke="null"/>
      <rect height="9" width="2" fill="#7A7B7C" y="603" x="425" id="svg_101" stroke="null"/>
     </g>
    </a>
    <a xlink:href="javascript:EventListenter_VPF(&#x27;OE','TransactionListReport','');" id="svg_19" stroke="null">
     <text id="svg_194" x="428" y="388" transform="matrix(0.962,0,0,1,26.9995,15.3867) ">@OEResx.TransactionList</text>
     <g id="svg_195" stroke="null">
      <rect id="svg_196" height="5" width="2" fill="#7A7B7C" y="398" x="422" stroke="null"/>
      <rect id="svg_197" height="11" width="2" fill="#7A7B7C" y="392" x="419" stroke="null"/>
      <rect id="svg_198" height="7" width="2" fill="#7A7B7C" y="396" x="416" stroke="null"/>
      <rect id="svg_199" height="13" width="2" fill="#7A7B7C" y="390" x="413" stroke="null"/>
      <rect id="svg_200" height="3" width="2" fill="#7A7B7C" y="400" x="410" stroke="null"/>
      <rect id="svg_201" height="1" width="17" fill="#7A7B7C" y="404" x="410" stroke="null"/>
      <rect id="svg_202" height="9" width="2" fill="#7A7B7C" y="394" x="425" stroke="null"/>
     </g>
    </a>
   </g>
   <g id="collapse_79">
    <g id="Title_35">
     <g id="svg_14" stroke="null">
      <text x="410" y="754" id="svg_12">@OEResx.InquiriesAndStatistics</text>
      <path fill="#6639b7" d="m370,720c-16.59998,0 -30,13.39996 -30,30s13.40002,30 30,30s29.99997,-13.39996 29.99997,-30s-13.39996,-30 -29.99997,-30zm0,56c-14.29999,0 -26,-11.70001 -26,-26c0,-14.29999 11.70001,-26 26,-26c14.30002,0 25.99997,11.70001 25.99997,26c0,14.29999 -11.69995,26 -25.99997,26z" id="svg_17" stroke="null"/>
      <path fill="#6639b7" d="m372.90005,754.29999c-0.20004,-0.09998 -0.60004,0.30005 -1.20004,1c-1.10001,1.20001 -1.80002,1.70001 -2,1.40002c-0.20001,-0.20001 -0.20001,-0.59998 0,-1.20001c0.29999,-0.59998 0.70001,-1.89996 1.39999,-3.70001c0.79999,-2.19995 1.30005,-3.5 1.30005,-3.89996c0.29996,-1.40002 -0.10004,-2.20001 -1.10004,-2.50006c-0.60001,-0.19995 -1.30002,-0.09998 -2.10001,0.10004c-1.30002,0.29999 -2.5,1.10004 -3.70001,2.40002c-1,1 -1.29999,1.70001 -0.89999,1.89996c0.20001,0.10004 0.60004,-0.19995 1.10001,-0.79999c0.39999,-0.5 0.79999,-0.89996 1.10001,-1.20001c0.79999,-0.69995 1.19998,-0.79999 1.40002,-0.19995c0.09998,0.19995 -0.40002,1.29999 -1.30005,3.59998c-0.79999,2.09998 -1.29999,3.5 -1.59998,4c-0.40002,1.19995 -0.5,2.09998 -0.5,2.59998c0.09998,0.59998 0.29999,1 0.79999,1.20001c0.60004,0.29999 1.29999,0.29999 2.29999,0.10004c1.60001,-0.5 3.10001,-1.5 4.40002,-3c0.90002,-0.90002 1.10004,-1.5 0.60004,-1.80005z" id="svg_16" stroke="null"/>
      <path fill="#6639b7" d="m372.90005,739.90002c-0.5,-0.20001 -1.00006,-0.20001 -1.50003,0s-1,0.49994 -1.19998,1s-0.40002,1 -0.40002,1.59998c0.10001,1.10004 0.69998,1.70001 1.89999,1.70001c0.70004,0.09998 1.29999,-0.20001 1.79999,-0.59998c0.5,-0.5 0.80002,-1 0.80002,-1.70001c-0.09998,-1.10004 -0.5,-1.70001 -1.39996,-2z" id="svg_15" stroke="null"/>
     </g>
    </g>
    <a xlink:href="javascript:EventListenter_VPF(&#x27;OE','PendingShipmentInquiry','');" id="svg_159" stroke="null">
     <text id="svg_136" x="428" y="806" transform="matrix(0.962,0,0,1,26.9995,15.3867) " stroke="null">@OEResx.PendingShipments</text>
     <path id="svg_141" fill="#7A7B7C" d="m425.11417,810.62976c1.40002,1.29999 2.29999,3 2.59998,4.90002s0.09998,3.79999 -0.79999,5.5c-0.5,0.89996 -1.10004,1.79999 -1.79999,2.5c-0.70001,0.70001 -1.5,1.20001 -2.30005,1.70001c-1.89996,0.89996 -3.79999,1.09998 -5.79999,0.69995c-1.29999,-0.29999 -2.59998,-0.89996 -3.59998,-1.69995c-1.1001,-0.79999 -1.89996,-1.90002 -2.5,-3.10004c-0.79999,-1.79999 -1.1001,-3.6001 -0.79999,-5.5s1.19989,-3.5 2.59998,-4.89996c1.5,-1.60004 3.20001,-2.40002 5.20001,-2.70001c2.79999,-0.20001 5.20001,0.59998 7.20001,2.59998zm-6.30005,4.20001c-0.79999,0.09998 -1.5,0.60004 -2.09998,1.29999c-0.59998,0.60004 -0.79999,1 -0.5,1.10004c0.09998,0.09998 0.30005,-0.10004 0.59998,-0.40002c0.20001,-0.29999 0.40002,-0.5 0.60004,-0.70001c0.39996,-0.39996 0.70001,-0.39996 0.79999,-0.09998c0,0.09998 -0.20001,0.79999 -0.69995,2c-0.50006,1.20001 -0.80005,2 -0.90002,2.29999c-0.19995,0.70001 -0.30005,1.20001 -0.30005,1.5s0.20007,0.60004 0.40002,0.70001c0.29999,0.20001 0.70001,0.20001 1.29999,0c0.90002,-0.29999 1.70001,-0.90002 2.50006,-1.70001c0.49994,-0.5 0.59998,-0.90002 0.39996,-1c-0.10004,0 -0.29999,0.20001 -0.70001,0.60004c-0.59998,0.69995 -1,0.89996 -1.09998,0.79999c-0.10004,-0.10004 -0.10004,-0.30005 0,-0.70001c0.09998,-0.3999 0.40002,-1.09998 0.79999,-2.09998c0.5,-1.20001 0.70001,-2 0.70001,-2.20001c0.19995,-0.79999 0,-1.30005 -0.60004,-1.40002c-0.39996,-0.19989 -0.79999,-0.19989 -1.20001,0zm1.20001,-3.20001c-0.29999,0.10004 -0.49994,0.29999 -0.70001,0.5c-0.19995,0.30005 -0.19995,0.60004 -0.19995,0.90002c0.09998,0.59998 0.40002,0.89996 1.09998,1c0.40002,0 0.70001,-0.10004 1,-0.40002c0.30005,-0.29999 0.40002,-0.59998 0.40002,-1c0,-0.59998 -0.20001,-0.89996 -0.70001,-1.09998c-0.29999,0 -0.60004,0 -0.90002,0.09998z" stroke="null"/>
    </a>
    <a xlink:href="javascript:EventListenter_VPF(&#x27;OE','SalesPersonInquiry','');" id="svg_171" stroke="null">
     <text id="svg_65" x="438" y="852" stroke="null">@OEResx.SalesPerson</text>
     <path id="svg_66" fill="#7A7B7C" d="m425.11417,840.62976c1.40002,1.30005 2.29999,3 2.59998,4.90002s0.09998,3.79999 -0.79999,5.5c-0.5,0.90002 -1.10004,1.79999 -1.79999,2.5c-0.70001,0.70001 -1.5,1.20001 -2.30005,1.70001c-1.89996,0.89996 -3.79999,1.09998 -5.79999,0.70001c-1.29999,-0.30005 -2.59998,-0.90002 -3.59998,-1.70001c-1.1001,-0.79999 -1.89996,-1.90002 -2.5,-3.10004c-0.79999,-1.79999 -1.1001,-3.6001 -0.79999,-5.5s1.19989,-3.5 2.59998,-4.89996c1.5,-1.60004 3.20001,-2.40002 5.20001,-2.70001c2.79999,-0.20001 5.20001,0.59998 7.20001,2.59998zm-6.30005,4.20001c-0.79999,0.10004 -1.5,0.60004 -2.09998,1.29999c-0.59998,0.60004 -0.79999,1 -0.5,1.10004c0.09998,0.09998 0.30005,-0.10004 0.59998,-0.40002c0.20001,-0.29999 0.40002,-0.5 0.60004,-0.70001c0.39996,-0.39996 0.70001,-0.39996 0.79999,-0.09998c0,0.09998 -0.20001,0.79999 -0.69995,2c-0.50006,1.20001 -0.80005,2 -0.90002,2.29999c-0.19995,0.70001 -0.30005,1.20001 -0.30005,1.5s0.20007,0.60004 0.40002,0.70001c0.29999,0.20001 0.70001,0.20001 1.29999,0c0.90002,-0.29999 1.70001,-0.90002 2.50006,-1.70001c0.49994,-0.5 0.59998,-0.89996 0.39996,-1c-0.10004,0 -0.29999,0.20001 -0.70001,0.60004c-0.59998,0.69995 -1,0.89996 -1.09998,0.79999c-0.10004,-0.10004 -0.10004,-0.29999 0,-0.70001c0.09998,-0.3999 0.40002,-1.09998 0.79999,-2.09998c0.5,-1.20001 0.70001,-2 0.70001,-2.20001c0.19995,-0.79999 0,-1.29999 -0.60004,-1.40002c-0.39996,-0.19989 -0.79999,-0.19989 -1.20001,0zm1.20001,-3.20001c-0.29999,0.10004 -0.49994,0.30005 -0.70001,0.5c-0.19995,0.30005 -0.19995,0.60004 -0.19995,0.90002c0.09998,0.59998 0.40002,0.90002 1.09998,1c0.40002,0 0.70001,-0.09998 1,-0.40002c0.30005,-0.29999 0.40002,-0.59998 0.40002,-1c0,-0.59998 -0.20001,-0.89996 -0.70001,-1.09998c-0.29999,0 -0.60004,0 -0.90002,0.09998z" stroke="null"/>
    </a>
    <a xlink:href="javascript:EventListenter_VPF(&#x27;OE','SalesStatistic','');" id="svg_172" stroke="null">
     <text x="427" y="867" transform="matrix(0.962,0,0,1,26.9995,15.3867) " id="svg_102" stroke="null">@OEResx.SalesStatistics</text>
     <path fill="#7A7B7C" d="m425.11417,870.62976c1.40002,1.30005 2.29999,3 2.59998,4.90002s0.09998,3.79999 -0.79999,5.5c-0.5,0.90002 -1.10004,1.79999 -1.79999,2.5c-0.70001,0.70001 -1.5,1.20001 -2.30005,1.70001c-1.89996,0.89996 -3.79999,1.09998 -5.79999,0.70001c-1.29999,-0.30005 -2.59998,-0.90002 -3.59998,-1.70001c-1.1001,-0.79999 -1.89996,-1.90002 -2.5,-3.10004c-0.79999,-1.79999 -1.1001,-3.6001 -0.79999,-5.5s1.19989,-3.5 2.59998,-4.89996c1.5,-1.60004 3.20001,-2.40002 5.20001,-2.70001c2.79999,-0.20001 5.20001,0.59998 7.20001,2.59998zm-6.30005,4.20001c-0.79999,0.10004 -1.5,0.60004 -2.09998,1.29999c-0.59998,0.60004 -0.79999,1 -0.5,1.10004c0.09998,0.09998 0.30005,-0.10004 0.59998,-0.40002c0.20001,-0.29999 0.40002,-0.5 0.60004,-0.70001c0.39996,-0.39996 0.70001,-0.39996 0.79999,-0.09998c0,0.09998 -0.20001,0.79999 -0.69995,2c-0.50006,1.20001 -0.80005,2 -0.90002,2.29999c-0.19995,0.70001 -0.30005,1.20001 -0.30005,1.5s0.20007,0.60004 0.40002,0.70001c0.29999,0.20001 0.70001,0.20001 1.29999,0c0.90002,-0.29999 1.70001,-0.90002 2.50006,-1.70001c0.49994,-0.5 0.59998,-0.89996 0.39996,-1c-0.10004,0 -0.29999,0.20001 -0.70001,0.60004c-0.59998,0.69995 -1,0.89996 -1.09998,0.79999c-0.10004,-0.10004 -0.10004,-0.29999 0,-0.70001c0.09998,-0.3999 0.40002,-1.09998 0.79999,-2.09998c0.5,-1.20001 0.70001,-2 0.70001,-2.20001c0.19995,-0.79999 0,-1.29999 -0.60004,-1.40002c-0.39996,-0.19989 -0.79999,-0.19989 -1.20001,0zm1.20001,-3.20001c-0.29999,0.10004 -0.49994,0.30005 -0.70001,0.5c-0.19995,0.30005 -0.19995,0.60004 -0.19995,0.90002c0.09998,0.59998 0.40002,0.90002 1.09998,1c0.40002,0 0.70001,-0.09998 1,-0.40002c0.30005,-0.29999 0.40002,-0.59998 0.40002,-1c0,-0.59998 -0.20001,-0.89996 -0.70001,-1.09998c-0.29999,0 -0.60004,0 -0.90002,0.09998z" id="svg_103" stroke="null"/>
    </a>
    <a xlink:href="javascript:EventListenter_VPF(&#x27;OE','CurrentOrderInquiry','');" id="svg_1" stroke="null">
     <text id="svg_67" x="438" y="792" stroke="null">@OEResx.CurrentOrders</text>
     <path id="svg_122" fill="#7A7B7C" d="m425.11417,780.62982c1.40002,1.29999 2.29999,3 2.59998,4.89996s0.09998,3.79999 -0.79999,5.5c-0.5,0.90002 -1.10004,1.79999 -1.79999,2.5c-0.70001,0.70001 -1.5,1.20001 -2.30005,1.70001c-1.89996,0.89996 -3.79999,1.09998 -5.79999,0.70001c-1.29999,-0.29999 -2.59998,-0.90002 -3.59998,-1.70001c-1.1001,-0.79999 -1.89996,-1.90002 -2.5,-3.10004c-0.79999,-1.79999 -1.1001,-3.6001 -0.79999,-5.49994s1.19989,-3.50006 2.59998,-4.90002c1.5,-1.60004 3.20001,-2.40002 5.20001,-2.70001c2.79999,-0.20001 5.20001,0.60004 7.20001,2.60004zm-6.30005,4.19995c-0.79999,0.10004 -1.5,0.60004 -2.09998,1.29999c-0.59998,0.60004 -0.79999,1 -0.5,1.10004c0.09998,0.09998 0.30005,-0.10004 0.59998,-0.40002c0.20001,-0.29999 0.40002,-0.5 0.60004,-0.70001c0.39996,-0.39996 0.70001,-0.39996 0.79999,-0.09998c0,0.09998 -0.20001,0.79999 -0.69995,2c-0.50006,1.20001 -0.80005,2 -0.90002,2.29999c-0.19995,0.70001 -0.30005,1.20001 -0.30005,1.5s0.20007,0.60004 0.40002,0.70001c0.29999,0.20001 0.70001,0.20001 1.29999,0c0.90002,-0.29999 1.70001,-0.89996 2.50006,-1.70001c0.49994,-0.5 0.59998,-0.89996 0.39996,-1c-0.10004,0 -0.29999,0.20001 -0.70001,0.60004c-0.59998,0.69995 -1,0.89996 -1.09998,0.79999c-0.10004,-0.10004 -0.10004,-0.29999 0,-0.70001c0.09998,-0.3999 0.40002,-1.09998 0.79999,-2.09998c0.5,-1.20001 0.70001,-2 0.70001,-2.20001c0.19995,-0.79999 0,-1.29999 -0.60004,-1.40002c-0.39996,-0.19989 -0.79999,-0.19989 -1.20001,0zm1.20001,-3.19995c-0.29999,0.09998 -0.49994,0.29999 -0.70001,0.49994c-0.19995,0.30005 -0.19995,0.60004 -0.19995,0.90002c0.09998,0.60004 0.40002,0.90002 1.09998,1c0.40002,0 0.70001,-0.09998 1,-0.39996c0.30005,-0.30005 0.40002,-0.60004 0.40002,-1c0,-0.60004 -0.20001,-0.90002 -0.70001,-1.10004c-0.29999,0 -0.60004,0 -0.90002,0.10004z" stroke="null"/>
    </a>
   </g>
   <a xlink:href="javascript:EventListenter_VPF(&#x27;IC','Item','');" id="svg_50">
    <text id="svg_154" x="338" y="-92" transform="matrix(0.9652999999999999,0,0,1,-255.659,717.387) ">@OEResx.Items</text>
    <g id="svg_20" stroke="null">
     <path id="svg_143" d="m30.09481,616.10901c-1.94343,0 -3.51669,1.70001 -3.51669,3.79999s1.57326,3.80005 3.51669,3.80005s3.51669,-1.70001 3.51669,-3.80005s-1.57325,-3.79999 -3.51669,-3.79999zm0,6.10004c-1.11053,0 -2.12852,-1 -2.12852,-2.30005c0,-1.19995 0.92544,-2.29999 2.12852,-2.29999c1.11053,0 2.12852,1 2.12852,2.29999c0,1.20001 -1.01799,2.30005 -2.12852,2.30005z" fill="#bd2830"/>
     <path id="svg_144" d="m30.00002,590c-16.6,0 -30.00002,13.40002 -30.00002,30s13.40002,30 30.00002,30s30,-13.39996 30,-30s-13.4,-30 -30,-30zm7.5,32.10004c-0.2,0.59998 -0.4,1.19995 -0.7,1.79999c0.9,1.59998 0.9,2.59998 0.3,3.20001s-1.6,0.59998 -3.2,-0.30005c-0.6,0.30005 -1.2,0.60004 -1.8,0.70001c-0.5,1.79999 -1.3,2.5 -2.1,2.5s-1.6,-0.70001 -2.1,-2.5c-0.6,-0.20001 -1.2,-0.39996 -1.8,-0.70001c-1.6,0.90002 -2.6,0.90002 -3.2,0.30005c-0.6,-0.60004 -0.6,-1.60004 0.3,-3.20001c-0.3,-0.60004 -0.6,-1.20001 -0.7,-1.79999c-1.8,-0.5 -2.5,-1.30005 -2.5,-2.10004s0.7,-1.59998 2.5,-2.09998c0.2,-0.60004 0.4,-1.20001 0.7,-1.79999c-0.9,-1.60004 -0.9,-2.60004 -0.3,-3.20001s1.6,-0.60004 3.2,0.29999c0.6,-0.29999 1.2,-0.59998 1.8,-0.70001c0.5,-1.79999 1.3,-2.5 2.1,-2.5s1.6,0.70001 2.1,2.5c0.6,0.20001 1.2,0.40002 1.8,0.70001c1.6,-0.90002 2.6,-0.90002 3.2,-0.29999c0.6,0.59998 0.6,1.59998 -0.3,3.20001c0.3,0.59998 0.6,1.19995 0.7,1.79999c1.8,0.5 2.5,1.29999 2.5,2.09998s-0.7,1.60004 -2.5,2.10004z" fill="#bd2830" stroke="null"/>
    </g>
   </a>
  </g>
 </g>
</svg>
