@* Copyright (c) 1994-2014 Sage Software, Inc.  All rights reserved. *@
@using Sage.CA.SBS.ERP.Sage300.VPF.Resources

<svg width="670" height="1400" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <g display="inline">
    <g transform="matrix(0.532283,0,0,0.605972,11.6284,47.1279) " id="svg_50">
      <svg x="30" y="-622" viewBox="0 0 330 60" id="svg_105" xmlns:xlink="http://www.w3.org/1999/xlink">
        <path fill="#9A9B9C" d="m0,0l4,0l0,50l-4,0l0,-50z" id="svg_106" />
      </svg>
    </g>
    <g id="svg_35" transform="matrix(0.5322834253311156,0,0,0.62673211846756,11.628350108861923,22.509775557408446) ">
      <svg id="svg_107" x="30" y="-229" viewBox="0 0 330 60" xmlns:xlink="http://www.w3.org/1999/xlink">
        <path id="svg_108" fill="#9A9B9C" d="m0,0l4,0l0,50l-4,0l0,-50z" />
      </svg>
    </g>
    <g id="svg_129" transform="matrix(0.532283,0,0,0.605972,11.6284,47.1279) ">
      <svg id="svg_110" x="30" y="-437" viewBox="0 0 330 60" xmlns:xlink="http://www.w3.org/1999/xlink">
        <path id="svg_111" fill="#9A9B9C" d="m0,0l4,0l0,50l-4,0l0,-50z" />
      </svg>
    </g>
    <g transform="matrix(0.532283,0,0,0.605972,11.6284,47.1279) " id="svg_115">
      <svg x="30" y="108" viewBox="0 0 330 60" id="svg_113" xmlns:xlink="http://www.w3.org/1999/xlink">
        <path fill="#9A9B9C" d="m0,0l4,0l0,50l-4,0l0,-50z" id="svg_114" />
      </svg>
    </g>
    <g transform="matrix(0.532283,0,0,0.6457753402662277,11.6284,-8.15752713609539) " id="svg_128">
      <svg x="30" y="-31" viewBox="0 0 330 60" id="svg_121" xmlns:xlink="http://www.w3.org/1999/xlink">
        <path fill="#9A9B9C" d="m0,0l4,0l0,50l-4,0l0,-50z" id="svg_125" />
      </svg>
    </g>
    <a xlink:href="javascript:EventListenter_VPF('PO','RequisitionEntry','');" id="svg_116">
      <text transform="matrix(0.9653,0,0,1,69.437,34.3872) " y="0" x="0" id="svg_26">@POResx.Requisitions</text>
      <path d="m29.99999,0c-16.59999,0 -29.99999,13.40003 -29.99999,30.00001s13.4,29.99997 29.99999,29.99997s30,-13.40001 30,-29.99997s-13.4,-30.00001 -30,-30.00001zm-10.4,22.50001c-0.79998,-0.79999 -0.79998,-2.09998 0,-2.90001c0.80001,-0.79999 2.10001,-0.79999 2.90001,0c0.4,0.40001 1.5,1.5 1.5,1.5l-1.5,1.5l-1.40001,1.40001c0,0 -1,-1 -1.5,-1.5zm5.10001,-0.7l8.60001,8.60004l0.69998,3.59996l-3.59999,-0.7l-8.59999,-8.59996l2.89999,-2.90001l0,-0.00003zm13.29999,14.19997c0,1.09999 -0.9,2 -2,2l-11.99999,0c-1.1,0 -2,-0.90001 -2,-2l0,-6.89998l2,2l0,4.89998l11.99999,0l0,-11.99997l-4.9,0l-2,-2l6.9,0c1.1,0 2,0.90002 2,2l0,11.99997z" fill="#007F64" id="svg_27" />
    </a>
    <a xlink:href="javascript:EventListenter_VPF('PO','PurchaseOrderEntry','');" id="svg_117">
      <text transform="matrix(0.9653,0,0,1,69.437,34.3872) " y="110" x="0" id="svg_78">@POResx.Purchases</text>
      <path d="m29.99999,110c-16.59999,0 -29.99999,13.40003 -29.99999,30.00002s13.4,29.99995 29.99999,29.99995s30,-13.39999 30,-29.99995s-13.4,-30.00002 -30,-30.00002zm-10.4,22.5c-0.79998,-0.79999 -0.79998,-2.09998 0,-2.89999c0.80001,-0.79999 2.10001,-0.79999 2.90001,0c0.4,0.40001 1.5,1.5 1.5,1.5l-1.5,1.5l-1.40001,1.40001c0,0 -1,-1 -1.5,-1.50002zm5.10001,-0.69998l8.60001,8.60004l0.69998,3.59996l-3.59999,-0.7l-8.59999,-8.59998l2.89999,-2.89999l0,-0.00003zm13.29999,14.19995c0,1.10001 -0.9,2 -2,2l-11.99999,0c-1.1,0 -2,-0.89999 -2,-2l0,-6.89996l2,2l0,4.89996l11.99999,0l0,-11.99995l-4.9,0l-2,-2l6.9,0c1.1,0 2,0.90002 2,2l0,11.99995z" fill="#007F64" id="svg_79" />
    </a>
    <a xlink:href="javascript:EventListenter_VPF('PO','ReceiptEntry','');" id="svg_126">
      <text transform="matrix(0.9652999999999999,0,0,1,244.79199999999997,249.974) " y="8" x="-181" id="svg_109">@POResx.Receipts</text>
      <path d="m29.99998,220c-16.59999,0 -29.99998,13.40002 -29.99998,30s13.39999,30 29.99998,30s30,-13.40002 30,-30s-13.39999,-30 -30,-30zm-10.39999,22.50003c-0.79999,-0.80002 -0.79999,-2.10001 0,-2.90002c0.8,-0.79999 2.10001,-0.79999 2.90001,0c0.39999,0.39999 1.5,1.5 1.5,1.5l-1.5,1.5l-1.40001,1.39999c0,0 -1,-1 -1.5,-1.49997zm5.10001,-0.70001l8.60001,8.60004l0.69998,3.59996l-3.59999,-0.69998l-8.59999,-8.59996l2.89999,-2.90001l0,-0.00003l0,-0.00002zm13.29999,14.19998c0,1.09998 -0.89999,2 -2,2l-11.99998,0c-1.10001,0 -2,-0.90002 -2,-2l0,-6.89999l2,2l0,4.89999l11.99998,0l0,-12l-4.89999,0l-2,-2l6.89999,0c1.10001,0 2,0.90002 2,2l0,12z" fill="#007F64" id="svg_112" />
    </a>
    <a xlink:href="javascript:EventListenter_VPF('PO','InvoiceEntry','');" id="svg_127">
      <text transform="matrix(0.9653,0,0,1,245.792,249.974) " y="115" x="-181" id="svg_133">@POResx.Invoices</text>
      <path stroke-width="0" d="m30,330c-16.60001,0 -30,13.40002 -30,30s13.39999,30 30,30s30,-13.40002 30,-30s-13.40001,-30 -30,-30zm-10.40001,22.5c-0.8,-0.79999 -0.8,-2.09998 0,-2.90002c0.8,-0.79999 2.10001,-0.79999 2.90001,0c0.39999,0.40002 1.5,1.5 1.5,1.5l-1.5,1.5l-1.40001,1.40002c0,0 -1,-1 -1.5,-1.5zm5.10001,-0.70001l8.60001,8.60004l0.7,3.59998l-3.60001,-0.70001l-8.60001,-8.59998l2.90001,-2.89999l0,-0.00003zm13.3,14.20001c0,1.09998 -0.90001,2 -2,2l-12,0c-1.10001,0 -2,-0.90002 -2,-2l0,-6.90002l2,2l0,4.90002l12,0l0,-12l-4.90001,0l-2,-2l6.90001,0c1.09999,0 2,0.90002 2,2l0,12z" fill="#007F64" id="svg_134" />
    </a>
    <a xlink:href="javascript:EventListenter_VPF('PO','ReturnEntry','');" id="svg_131">
      <text transform="matrix(0.9653,0,0,1,69.437,34.3872) " y="440" x="0" id="svg_119">@POResx.Returns</text>
      <path d="m29.99999,440c-16.59999,0 -29.99999,13.40002 -29.99999,30s13.4,29.99997 29.99999,29.99997s30,-13.40002 30,-29.99997s-13.4,-30 -30,-30zm-10.4,22.5c-0.79998,-0.79999 -0.79998,-2.09998 0,-2.89999c0.80001,-0.79999 2.10001,-0.79999 2.90001,0c0.4,0.39999 1.5,1.5 1.5,1.5l-1.5,1.5l-1.40001,1.39999c0,0 -1,-1 -1.5,-1.5zm5.10001,-0.69998l8.60001,8.60004l0.69998,3.59995l-3.59999,-0.69998l-8.59999,-8.59998l2.89999,-2.90002l0,0zm13.29999,14.19995c0,1.09998 -0.9,2 -2,2l-11.99999,0c-1.1,0 -2,-0.90002 -2,-2l0,-6.89996l2,2l0,4.89996l11.99999,0l0,-11.99997l-4.9,0l-2,-2l6.9,0c1.1,0 2,0.90002 2,2l0,11.99997z" fill="#007F64" id="svg_120" />
    </a>
    <a xlink:href="javascript:EventListenter_VPF('PO','CreditDebitNoteEntry','');" id="svg_159">
      <text transform="matrix(0.9652999999999999,0,0,1,245.79199999999997,239.974) " y="348" x="-181" id="svg_123">@POResx.CreditDebitNotes</text>
      <path d="m29.99998,550c-16.59999,0 -29.99998,13.40002 -29.99998,30s13.39999,30 29.99998,30s30,-13.40002 30,-30s-13.39999,-30 -30,-30zm-10.39999,22.5c-0.79999,-0.79999 -0.79999,-2.09998 0,-2.90002c0.8,-0.79993 2.10001,-0.79993 2.90001,0c0.39999,0.40002 1.5,1.5 1.5,1.5l-1.5,1.5l-1.40001,1.40002c0,0 -1,-1 -1.5,-1.5zm5.10001,-0.69995l8.60001,8.59998l0.69998,3.59998l-3.59999,-0.69995l-8.59999,-8.59998l2.89999,-2.90002l0,0zm13.29999,14.19995c0,1.09998 -0.89999,2 -2,2l-11.99998,0c-1.10001,0 -2,-0.90002 -2,-2l0,-6.90002l2,2l0,4.90002l11.99998,0l0,-12l-4.89999,0l-2,-2l6.89999,0c1.10001,0 2,0.90002 2,2l0,12z" fill="#007F64" id="svg_124" />
    </a>
    <a id="svg_30" xlink:href="javascript:EventListenter_VPF('IC','DayEndProcessing','');">
      <text transform="matrix(0.9652999999999999,0,0,1,242.79199999999997,138.974) " y="608" x="-181" id="svg_156">@POResx.DayEndProcessing</text>
      <path d="m29.99998,710c-16.59999,0 -29.99998,13.40002 -29.99998,30s13.39999,30 29.99998,30s30,-13.40002 30,-30s-13.4,-30 -30,-30zm-10.39999,22.5c-0.79999,-0.79999 -0.79999,-2.09998 0,-2.89996c0.8,-0.79999 2.10001,-0.79999 2.90001,0c0.39999,0.39996 1.5,1.49994 1.5,1.49994l-1.5,1.50006l-1.40001,1.39996c0,0 -1,-1 -1.5,-1.5zm5.10001,-0.69995l8.6,8.59998l0.69998,3.59998l-3.59998,-0.69995l-8.59999,-8.59998l2.9,-2.90002l0,0l-0.00001,0zm13.29997,14.19995c0,1.09998 -0.89999,2 -2,2l-11.99997,0c-1.10001,0 -2,-0.90002 -2,-2l0,-6.90002l2,2l0,4.90002l11.99997,0l0,-12l-4.89999,0l-2,-2l6.89999,0c1.10001,0 2,0.90002 2,2l0,12z" fill="#0089c6" id="svg_157" />
    </a>
    <a id="svg_31" xlink:href="javascript:EventListenter_VPF('AP','Vendor','');">
      <g id="svg_137">
        <path fill="#ff5800" d="m30,896.20001c-2.10001,0 -3.79999,1.70001 -3.79999,3.79999s1.69998,3.79999 3.79999,3.79999s3.79999,-1.70001 3.79999,-3.79999s-1.69998,-3.79999 -3.79999,-3.79999zm0,6.09998c-1.20001,0 -2.29999,-1 -2.29999,-2.29999c0,-1.20001 1,-2.29999 2.29999,-2.29999c1.20001,0 2.29999,1 2.29999,2.29999c0,1.20001 -1.09998,2.29999 -2.29999,2.29999z" id="svg_138" />
        <path fill="#ff5800" d="m30,870c-16.60001,0 -30,13.40002 -30,30s13.39999,30 30,30s30.00001,-13.40002 30.00001,-30s-13.4,-30 -30.00001,-30zm7.5,32.09998c-0.20001,0.60004 -0.39999,1.20001 -0.70001,1.80005c0.90002,1.59998 0.90002,2.59998 0.30002,3.19995s-1.60001,0.60004 -3.20001,-0.29999c-0.60001,0.29999 -1.19998,0.60004 -1.79999,0.70001c-0.5,1.79999 -1.30002,2.5 -2.10001,2.5s-1.60001,-0.70001 -2.10001,-2.5c-0.60001,-0.20001 -1.19998,-0.40002 -1.79999,-0.70001c-1.60001,0.90002 -2.60001,0.90002 -3.20001,0.29999c-0.60001,-0.59998 -0.60001,-1.59998 0.30002,-3.19995c-0.30002,-0.60004 -0.60001,-1.20001 -0.70001,-1.80005c-1.79999,-0.5 -2.5,-1.29999 -2.5,-2.09998s0.70001,-1.59998 2.5,-2.09998c0.20001,-0.60004 0.39999,-1.20001 0.70001,-1.80005c-0.90002,-1.59998 -0.90002,-2.59998 -0.30002,-3.19995s1.60001,-0.60004 3.20001,0.29999c0.60001,-0.29999 1.19998,-0.60004 1.79999,-0.70001c0.5,-1.79999 1.30002,-2.5 2.10001,-2.5s1.60001,0.70001 2.10001,2.5c0.60001,0.20001 1.19998,0.40002 1.79999,0.70001c1.60001,-0.90002 2.60001,-0.90002 3.20001,-0.29999c0.60001,0.59998 0.60001,1.59998 -0.30002,3.19995c0.30002,0.60004 0.60001,1.20001 0.70001,1.80005c1.79999,0.5 2.5,1.29999 2.5,2.09998s-0.70001,1.59998 -2.5,2.09998z" id="svg_139" />
      </g>
      <text transform="matrix(0.9652999999999999,0,0,1,-258.659,606.387) " y="300" x="340" id="svg_140">@POResx.Vendors</text>
    </a>
    <a id="svg_102" xlink:href="javascript:EventListenter_VPF('IC','Item','');">
      <g id="svg_142">
        <path fill="#bd2830" d="m30,1056.20007c-2.10001,0 -3.79999,1.70007 -3.79999,3.80005s1.69998,3.79993 3.79999,3.79993s3.79999,-1.69995 3.79999,-3.79993s-1.69998,-3.80005 -3.79999,-3.80005zm0,6.09998c-1.20001,0 -2.29999,-1 -2.29999,-2.29993c0,-1.20007 1,-2.30005 2.29999,-2.30005c1.20001,0 2.29999,1 2.29999,2.30005c0,1.19995 -1.09998,2.29993 -2.29999,2.29993z" id="svg_143" />
        <path fill="#bd2830" d="m30,1030c-16.60001,0 -30,13.40015 -30,30.00012s13.39999,30 30,30s29.99998,-13.40002 29.99998,-30s-13.39997,-30.00012 -29.99998,-30.00012zm7.5,32.1001c-0.20001,0.59998 -0.39999,1.19995 -0.70001,1.80005c0.90002,1.59998 0.90002,2.59998 0.30002,3.19995s-1.60001,0.59998 -3.20001,-0.30005c-0.60001,0.30005 -1.19998,0.6001 -1.79999,0.70007c-0.5,1.79993 -1.30002,2.5 -2.10001,2.5s-1.60001,-0.70007 -2.10001,-2.5c-0.60001,-0.20007 -1.19998,-0.40002 -1.79999,-0.70007c-1.60001,0.90002 -2.60001,0.90002 -3.20001,0.30005c-0.60001,-0.59998 -0.60001,-1.59998 0.30002,-3.19995c-0.30002,-0.6001 -0.60001,-1.20007 -0.70001,-1.80005c-1.79999,-0.5 -2.5,-1.30005 -2.5,-2.09998s0.70001,-1.59998 2.5,-2.09998c0.20001,-0.6001 0.39999,-1.20007 0.70001,-1.80005c-0.90002,-1.59998 -0.90002,-2.59998 -0.30002,-3.19995s1.60001,-0.6001 3.20001,0.29993c0.60001,-0.29993 1.19998,-0.59998 1.79999,-0.69995c0.5,-1.80005 1.30002,-2.5 2.10001,-2.5s1.60001,0.69995 2.10001,2.5c0.60001,0.19995 1.19998,0.40002 1.79999,0.69995c1.60001,-0.90002 2.60001,-0.90002 3.20001,-0.29993c0.60001,0.59998 0.60001,1.59998 -0.30002,3.19995c0.30002,0.59998 0.60001,1.19995 0.70001,1.80005c1.79999,0.5 2.5,1.29993 2.5,2.09998s-0.70001,1.59998 -2.5,2.09998z" id="svg_144" />
      </g>
      <text transform="matrix(0.9652999999999999,0,0,1,-258.659,606.387) " y="460" x="340" id="svg_154">@POResx.Items</text>
    </a>
    <g id="collapse_145">
      <a xlink:href="javascript:EventListenter_VPF('PO','RequisitionReport','');" id="svg_172">
        <text transform="matrix(0.962,0,0,1,26.9995,15.3867) " y="58" x="428" id="svg_51">@POResx.Requisitions</text>
        <g id="svg_52">
          <rect x="422" y="68" fill="#7A7B7C" width="2" height="5" id="svg_53" />
          <rect x="419" y="62" fill="#7A7B7C" width="2" height="11" id="svg_54" />
          <rect x="416" y="66" fill="#7A7B7C" width="2" height="7" id="svg_55" />
          <rect x="413" y="60" fill="#7A7B7C" width="2" height="13" id="svg_56" />
          <rect x="410" y="70" fill="#7A7B7C" width="2" height="3" id="svg_57" />
          <rect x="410" y="74" fill="#7A7B7C" width="17" height="1" id="svg_58" />
          <rect x="425" y="64" fill="#7A7B7C" width="2" height="9" id="svg_59" />
        </g>
      </a>
      <a xlink:href="javascript:EventListenter_VPF('PO','PurchaseOrderReport','');" id="svg_183">
        <text transform="matrix(0.962,0,0,1,26.9995,15.3867) " y="88" x="428" id="svg_28">@POResx.PurchaseOrders</text>
        <g id="svg_32">
          <rect x="422" y="98" fill="#7A7B7C" width="2" height="5" id="svg_33" />
          <rect x="419" y="92" fill="#7A7B7C" width="2" height="11" id="svg_34" />
          <rect x="416" y="96" fill="#7A7B7C" width="2" height="7" id="svg_36" />
          <rect x="413" y="90" fill="#7A7B7C" width="2" height="13" id="svg_37" />
          <rect x="410" y="100" fill="#7A7B7C" width="2" height="3" id="svg_38" />
          <rect x="410" y="104" fill="#7A7B7C" width="17" height="1" id="svg_39" />
          <rect x="425" y="94" fill="#7A7B7C" width="2" height="9" id="svg_40" />
        </g>
      </a>
      <a xlink:href="javascript:EventListenter_VPF('PO','ReturnReport','');" id="svg_213">
        <text transform="matrix(0.962,0,0,1,26.9995,15.3867) " y="148" x="428" id="svg_60">@POResx.Returns</text>
        <g id="svg_61">
          <rect x="422" y="158" fill="#7A7B7C" width="2" height="5" id="svg_62" />
          <rect x="419" y="152" fill="#7A7B7C" width="2" height="11" id="svg_63" />
          <rect x="416" y="156" fill="#7A7B7C" width="2" height="7" id="svg_68" />
          <rect x="413" y="150" fill="#7A7B7C" width="2" height="13" id="svg_69" />
          <rect x="410" y="160" fill="#7A7B7C" width="2" height="3" id="svg_70" />
          <rect x="410" y="164" fill="#7A7B7C" width="17" height="1" id="svg_71" />
          <rect x="425" y="154" fill="#7A7B7C" width="2" height="9" id="svg_72" />
        </g>
      </a>
      <a xlink:href="javascript:EventListenter_VPF('PO','MailingLabelReport','');" id="svg_233">
        <text transform="matrix(0.962,0,0,1,26.9995,15.3867) " y="178" x="428" id="svg_73">@POResx.MailingLabels</text>
        <g id="svg_74">
          <rect x="422" y="188" fill="#7A7B7C" width="2" height="5" id="svg_75" />
          <rect x="419" y="182" fill="#7A7B7C" width="2" height="11" id="svg_76" />
          <rect x="416" y="186" fill="#7A7B7C" width="2" height="7" id="svg_77" />
          <rect x="413" y="180" fill="#7A7B7C" width="2" height="13" id="svg_80" />
          <rect x="410" y="190" fill="#7A7B7C" width="2" height="3" id="svg_81" />
          <rect x="410" y="194" fill="#7A7B7C" width="17" height="1" id="svg_82" />
          <rect x="425" y="184" fill="#7A7B7C" width="2" height="9" id="svg_83" />
        </g>
      </a>
      <a id="svg_103" xlink:href="javascript:EventListenter_VPF('PO','ReceivingSlip','');">
        <text transform="matrix(0.962,0,0,1,26.9995,15.3867) " y="118" x="428" id="svg_41">@POResx.ReceivingSlips</text>
        <g id="svg_42">
          <rect x="421" y="128" fill="#7A7B7C" width="2" height="5" id="svg_43" />
          <rect x="418" y="122" fill="#7A7B7C" width="2" height="11" id="svg_44" />
          <rect x="415" y="126" fill="#7A7B7C" width="2" height="7" id="svg_45" />
          <rect x="412" y="120" fill="#7A7B7C" width="2" height="13" id="svg_46" />
          <rect x="409" y="130" fill="#7A7B7C" width="2" height="3" id="svg_47" />
          <rect x="409" y="134" fill="#7A7B7C" width="17" height="1" id="svg_48" />
          <rect x="424" y="124" fill="#7A7B7C" width="2" height="9" id="svg_49" />
        </g>
      </a>
      <g id="Title_135">
        <text y="0" x="10" transform="matrix(0.9652999999999999,0,0,1,399.5,36.3872) " id="svg_2">@POResx.Print</text>
        <g id="svg_3">
          <path fill="#007F64" d="m370,0c-16.60001,0 -30,13.4 -30,30s13.39999,30 30,30s30,-13.4 30,-30s-13.39999,-30 -30,-30zm0,56c-14.29999,0 -26,-11.7 -26,-26c0,-14.3 11.70001,-26 26,-26s26,11.7 26,26c0,14.3 -11.70001,26 -26,26z" id="svg_4" />
          <g id="svg_5">
            <rect x="373" y="30" fill="#007F64" width="2" height="5" id="svg_6" />
            <rect x="370" y="24" fill="#007F64" width="2" height="11" id="svg_7" />
            <rect x="367" y="28" fill="#007F64" width="2" height="7" id="svg_8" />
            <rect x="364" y="22" fill="#007F64" width="2" height="13" id="svg_9" />
            <rect x="361" y="32" fill="#007F64" width="2" height="3" id="svg_10" />
            <rect x="361" y="36" fill="#007F64" width="17" height="1" id="svg_11" />
            <rect x="376" y="26" fill="#007F64" width="2" height="9" id="svg_12" />
          </g>
        </g>
      </g>
    </g>
    <g id="collapse_146">
      <a xlink:href="javascript:EventListenter_VPF('PO','TransactionList','');" id="svg_235">
        <text transform="matrix(0.962,0,0,1,26.9995,15.3867) " y="358" x="428" id="svg_194">@POResx.TransactionList</text>
        <g id="svg_195">
          <rect x="422" y="368" fill="#7A7B7C" width="2" height="5" id="svg_196" />
          <rect x="419" y="362" fill="#7A7B7C" width="2" height="11" id="svg_197" />
          <rect x="416" y="366" fill="#7A7B7C" width="2" height="7" id="svg_198" />
          <rect x="413" y="360" fill="#7A7B7C" width="2" height="13" id="svg_199" />
          <rect x="410" y="370" fill="#7A7B7C" width="2" height="3" id="svg_200" />
          <rect x="410" y="374" fill="#7A7B7C" width="17" height="1" id="svg_201" />
          <rect x="425" y="364" fill="#7A7B7C" width="2" height="9" id="svg_202" />
        </g>
      </a>
      <a xlink:href="javascript:EventListenter_VPF('PO','ShippableBackOrderReport','');" id="svg_237">
        <text transform="matrix(0.962,0,0,1,26.9995,15.3867) " y="388" x="428" id="svg_174">@POResx.ShippableBlackorders</text>
        <g id="svg_175">
          <rect x="422" y="397" fill="#7A7B7C" width="2" height="5" id="svg_176" />
          <rect x="419" y="391" fill="#7A7B7C" width="2" height="11" id="svg_177" />
          <rect x="416" y="395" fill="#7A7B7C" width="2" height="7" id="svg_178" />
          <rect x="413" y="389" fill="#7A7B7C" width="2" height="13" id="svg_179" />
          <rect x="410" y="399" fill="#7A7B7C" width="2" height="3" id="svg_180" />
          <rect x="410" y="403" fill="#7A7B7C" width="17" height="1" id="svg_181" />
          <rect x="425" y="393" fill="#7A7B7C" width="2" height="9" id="svg_182" />
        </g>
      </a>
      <a xlink:href="javascript:EventListenter_VPF('PO','PurchaseOrderAction','');" id="svg_240">
        <text transform="matrix(0.962,0,0,1,26.9995,15.3867) " y="418" x="428" id="svg_184">@POResx.PurchaseAction</text>
        <g id="svg_185">
          <rect x="421" y="428" fill="#7A7B7C" width="2" height="5" id="svg_186" />
          <rect x="418" y="422" fill="#7A7B7C" width="2" height="11" id="svg_187" />
          <rect x="415" y="426" fill="#7A7B7C" width="2" height="7" id="svg_188" />
          <rect x="412" y="420" fill="#7A7B7C" width="2" height="13" id="svg_189" />
          <rect x="409" y="430" fill="#7A7B7C" width="2" height="3" id="svg_190" />
          <rect x="409" y="434" fill="#7A7B7C" width="17" height="1" id="svg_191" />
          <rect x="424" y="424" fill="#7A7B7C" width="2" height="9" id="svg_192" />
        </g>
      </a>
      <a xlink:href="javascript:EventListenter_VPF('PO','PurchaseHistoryReport','');" id="svg_242">
        <text transform="matrix(0.962,0,0,1,26.9995,15.3867) " y="448" x="428" id="svg_204">@POResx.PurchaseHistory</text>
        <g id="svg_205">
          <rect x="422" y="457" fill="#7A7B7C" width="2" height="5" id="svg_206" />
          <rect x="419" y="451" fill="#7A7B7C" width="2" height="11" id="svg_207" />
          <rect x="416" y="455" fill="#7A7B7C" width="2" height="7" id="svg_208" />
          <rect x="413" y="449" fill="#7A7B7C" width="2" height="13" id="svg_209" />
          <rect x="410" y="459" fill="#7A7B7C" width="2" height="3" id="svg_210" />
          <rect x="410" y="463" fill="#7A7B7C" width="17" height="1" id="svg_211" />
          <rect x="425" y="453" fill="#7A7B7C" width="2" height="9" id="svg_212" />
        </g>
      </a>
      <a xlink:href="javascript:EventListenter_VPF('PO','AgedPurchaseOrder','');" id="svg_244">
        <text transform="matrix(0.962,0,0,1,26.9995,15.3867) " y="478" x="428" id="svg_214">@POResx.AgedPurchases</text>
        <g id="svg_215">
          <rect x="422" y="488" fill="#7A7B7C" width="2" height="5" id="svg_216" />
          <rect x="419" y="482" fill="#7A7B7C" width="2" height="11" id="svg_217" />
          <rect x="416" y="486" fill="#7A7B7C" width="2" height="7" id="svg_218" />
          <rect x="413" y="480" fill="#7A7B7C" width="2" height="13" id="svg_219" />
          <rect x="410" y="490" fill="#7A7B7C" width="2" height="3" id="svg_220" />
          <rect x="410" y="494" fill="#7A7B7C" width="17" height="1" id="svg_221" />
          <rect x="425" y="484" fill="#7A7B7C" width="2" height="9" id="svg_222" />
        </g>
      </a>
      <a xlink:href="javascript:EventListenter_VPF('PO','PurchaseStatisticsReport','');" id="svg_246">
        <text transform="matrix(0.962,0,0,1,26.9995,15.3867) " y="508" x="428" id="svg_224">@POResx.PurchaseStatistics</text>
        <g id="svg_225">
          <rect x="422" y="518" fill="#7A7B7C" width="2" height="5" id="svg_226" />
          <rect x="419" y="512" fill="#7A7B7C" width="2" height="11" id="svg_227" />
          <rect x="416" y="516" fill="#7A7B7C" width="2" height="7" id="svg_228" />
          <rect x="413" y="510" fill="#7A7B7C" width="2" height="13" id="svg_229" />
          <rect x="410" y="520" fill="#7A7B7C" width="2" height="3" id="svg_230" />
          <rect x="410" y="524" fill="#7A7B7C" width="17" height="1" id="svg_231" />
          <rect x="425" y="514" fill="#7A7B7C" width="2" height="9" id="svg_232" />
        </g>
      </a>
      <a xlink:href="javascript:EventListenter_VPF('PO','PostingJournal','');" id="svg_248">
        <text id="svg_84" transform="matrix(0.962,0,0,1,26.9995,15.3867) " y="538" x="428">@POResx.PostingJournals</text>
        <g id="svg_85">
          <rect id="svg_86" x="422" y="548" fill="#7A7B7C" width="2" height="5" />
          <rect id="svg_87" x="419" y="542" fill="#7A7B7C" width="2" height="11" />
          <rect id="svg_88" x="416" y="546" fill="#7A7B7C" width="2" height="7" />
          <rect id="svg_89" x="413" y="540" fill="#7A7B7C" width="2" height="13" />
          <rect id="svg_90" x="410" y="550" fill="#7A7B7C" width="2" height="3" />
          <rect id="svg_91" x="410" y="554" fill="#7A7B7C" width="17" height="1" />
          <rect id="svg_92" x="425" y="544" fill="#7A7B7C" width="2" height="9" />
        </g>
      </a>
      <a xlink:href="javascript:EventListenter_VPF('PO','GLTransaction','');" id="svg_250">
        <text id="svg_93" transform="matrix(0.962,0,0,1,26.9995,15.3867) " y="568" x="428">@POResx.GLTransactions</text>
        <g id="svg_94">
          <rect id="svg_95" x="422" y="577" fill="#7A7B7C" width="2" height="5" />
          <rect id="svg_96" x="419" y="571" fill="#7A7B7C" width="2" height="11" />
          <rect id="svg_97" x="416" y="575" fill="#7A7B7C" width="2" height="7" />
          <rect id="svg_98" x="413" y="569" fill="#7A7B7C" width="2" height="13" />
          <rect id="svg_99" x="410" y="579" fill="#7A7B7C" width="2" height="3" />
          <rect id="svg_100" x="410" y="583" fill="#7A7B7C" width="17" height="1" />
          <rect id="svg_101" x="425" y="573" fill="#7A7B7C" width="2" height="9" />
        </g>
      </a>
      <a xlink:href="javascript:EventListenter_VPF('PO','PayableClrAuditList','');" id="svg_252">
        <text transform="matrix(0.962,0,0,1,26.9995,15.3867) " y="598" x="428" id="svg_147">@POResx.PayablesClearingAuditList</text>
        <g id="svg_148">
          <rect x="422" y="607" fill="#7A7B7C" width="2" height="5" id="svg_149" />
          <rect x="419" y="601" fill="#7A7B7C" width="2" height="11" id="svg_150" />
          <rect x="416" y="605" fill="#7A7B7C" width="2" height="7" id="svg_151" />
          <rect x="413" y="599" fill="#7A7B7C" width="2" height="13" id="svg_152" />
          <rect x="410" y="609" fill="#7A7B7C" width="2" height="3" id="svg_153" />
          <rect x="410" y="613" fill="#7A7B7C" width="17" height="1" id="svg_155" />
          <rect x="425" y="603" fill="#7A7B7C" width="2" height="9" id="svg_158" />
        </g>
      </a>
      <g id="Title_132">
        <text transform="matrix(0.9652999999999999,0,0,1,461.5,70.3872) " y="265" x="-54" id="svg_160">@POResx.AnalyticalReports</text>
        <g id="svg_161">
          <path fill="#0089c6" d="m370,300c-16.60001,0 -30,13.39999 -30,30s13.39999,30 30,30s30,-13.39996 30,-30s-13.39999,-30 -30,-30zm0,56c-14.29999,0 -26,-11.70001 -26,-26c0,-14.29999 11.70001,-26 26,-26s26,11.70001 26,26c0,14.29999 -11.69998,26 -26,26z" id="svg_162" />
          <g id="svg_163">
            <rect x="373" y="330" fill="#0089c6" width="2" height="5" id="svg_164" />
            <rect x="370" y="324" fill="#0089c6" width="2" height="11" id="svg_165" />
            <rect x="367" y="328" fill="#0089c6" width="2" height="7" id="svg_166" />
            <rect x="364" y="322" fill="#0089c6" width="2" height="13" id="svg_167" />
            <rect x="361" y="332" fill="#0089c6" width="2" height="3" id="svg_168" />
            <rect x="361" y="336" fill="#0089c6" width="17" height="1" id="svg_169" />
            <rect x="376" y="326" fill="#0089c6" width="2" height="9" id="svg_170" />
          </g>
        </g>
      </g>
    </g>
    <g id="collapse_171">
      <a xlink:href="javascript:EventListenter_VPF('PO','PurchaseHistory','');" id="svg_257">
        <text transform="matrix(0.962,0,0,1,26.9995,15.3867) " y="778" x="428" id="svg_67">@POResx.PurchaseHistory</text>
        <path d="m425.11417,782.62982c1.40002,1.29999 2.29999,3 2.59998,4.89996s0.09998,3.79999 -0.79999,5.5c-0.5,0.90002 -1.10004,1.79999 -1.79999,2.5c-0.70001,0.70001 -1.5,1.20001 -2.30005,1.70001c-1.89996,0.89996 -3.79999,1.09998 -5.79999,0.70001c-1.29999,-0.29999 -2.59998,-0.90002 -3.59998,-1.70001c-1.1001,-0.79999 -1.89996,-1.90002 -2.5,-3.10004c-0.79999,-1.79999 -1.1001,-3.6001 -0.79999,-5.49994s1.19989,-3.50006 2.59998,-4.90002c1.5,-1.60004 3.20001,-2.40002 5.20001,-2.70001c2.79999,-0.20001 5.20001,0.60004 7.20001,2.60004zm-6.30005,4.19995c-0.79999,0.10004 -1.5,0.60004 -2.09998,1.29999c-0.59998,0.60004 -0.79999,1 -0.5,1.10004c0.09998,0.09998 0.30005,-0.10004 0.59998,-0.40002c0.20001,-0.29999 0.40002,-0.5 0.60004,-0.70001c0.39996,-0.39996 0.70001,-0.39996 0.79999,-0.09998c0,0.09998 -0.20001,0.79999 -0.69995,2c-0.50006,1.20001 -0.80005,2 -0.90002,2.29999c-0.19998,0.70001 -0.30005,1.20001 -0.30005,1.5s0.20007,0.60004 0.40002,0.70001c0.29999,0.20001 0.70001,0.20001 1.29999,0c0.90002,-0.29999 1.70001,-0.89996 2.50006,-1.70001c0.49994,-0.5 0.59998,-0.89996 0.39996,-1c-0.10004,0 -0.29999,0.20001 -0.70001,0.60004c-0.59998,0.69995 -1,0.89996 -1.09998,0.79999c-0.10004,-0.10004 -0.10004,-0.29999 0,-0.70001c0.09998,-0.3999 0.40002,-1.09998 0.79999,-2.09998c0.5,-1.20001 0.70001,-2 0.70001,-2.20001c0.19995,-0.79999 0,-1.29999 -0.60004,-1.40002c-0.39996,-0.19989 -0.79999,-0.19989 -1.20001,0zm1.20001,-3.19995c-0.29999,0.09998 -0.49994,0.29999 -0.70001,0.49994c-0.19995,0.30005 -0.19995,0.60004 -0.19995,0.90002c0.09998,0.60004 0.40002,0.90002 1.09998,1c0.40002,0 0.70001,-0.09998 1,-0.39996c0.30005,-0.30005 0.40002,-0.60004 0.40002,-1c0,-0.60004 -0.20001,-0.90002 -0.70001,-1.10004c-0.29999,0 -0.60004,0 -0.90002,0.10004z" fill="#7A7B7C" id="svg_122" />
      </a>
      <a xlink:href="javascript:EventListenter_VPF('PO','PurchaseStatistic','');" id="svg_259">
        <text transform="matrix(0.962,0,0,1,26.9995,15.3867) " y="838" x="428" id="svg_65">@POResx.PurchaseStatistics</text>
        <path d="m425.11417,842.62976c1.40002,1.30005 2.29999,3 2.59998,4.90002s0.09998,3.79999 -0.79999,5.5c-0.5,0.90002 -1.10004,1.79999 -1.79999,2.5c-0.70001,0.70001 -1.5,1.20001 -2.30005,1.70001c-1.89996,0.89996 -3.79999,1.09998 -5.79999,0.70001c-1.29999,-0.30005 -2.59998,-0.90002 -3.59998,-1.70001c-1.1001,-0.79999 -1.89996,-1.90002 -2.5,-3.10004c-0.79999,-1.79999 -1.1001,-3.6001 -0.79999,-5.5s1.19989,-3.5 2.59998,-4.89996c1.5,-1.60004 3.20001,-2.40002 5.20001,-2.70001c2.79999,-0.20001 5.20001,0.59998 7.20001,2.59998zm-6.30005,4.20001c-0.79999,0.10004 -1.5,0.60004 -2.09998,1.29999c-0.59998,0.60004 -0.79999,1 -0.5,1.10004c0.09998,0.09998 0.30005,-0.10004 0.59998,-0.40002c0.20001,-0.29999 0.40002,-0.5 0.60004,-0.70001c0.39996,-0.39996 0.70001,-0.39996 0.79999,-0.09998c0,0.09998 -0.20001,0.79999 -0.69995,2c-0.50006,1.20001 -0.80005,2 -0.90002,2.29999c-0.19998,0.70001 -0.30005,1.20001 -0.30005,1.5s0.20007,0.60004 0.40002,0.70001c0.29999,0.20001 0.70001,0.20001 1.29999,0c0.90002,-0.29999 1.70001,-0.90002 2.50006,-1.70001c0.49994,-0.5 0.59998,-0.89996 0.39996,-1c-0.10004,0 -0.29999,0.20001 -0.70001,0.60004c-0.59998,0.69995 -1,0.89996 -1.09998,0.79999c-0.10004,-0.10004 -0.10004,-0.29999 0,-0.70001c0.09998,-0.3999 0.40002,-1.09998 0.79999,-2.09998c0.5,-1.20001 0.70001,-2 0.70001,-2.20001c0.19995,-0.79999 0,-1.29999 -0.60004,-1.40002c-0.39996,-0.19989 -0.79999,-0.19989 -1.20001,0zm1.20001,-3.20001c-0.29999,0.10004 -0.49994,0.30005 -0.70001,0.5c-0.19995,0.30005 -0.19995,0.60004 -0.19995,0.90002c0.09998,0.59998 0.40002,0.90002 1.09998,1c0.40002,0 0.70001,-0.09998 1,-0.40002c0.30005,-0.29999 0.40002,-0.59998 0.40002,-1c0,-0.59998 -0.20001,-0.89996 -0.70001,-1.09998c-0.29999,0 -0.60004,0 -0.90002,0.09998z" fill="#7A7B7C" id="svg_66" />
      </a>
      <a xlink:href="javascript:EventListenter_VPF('PO','PendingReceiptsInquiry','');" id="svg_118">
        <text transform="matrix(0.962,0,0,1,26.9995,15.3867) " y="808" x="428" id="svg_136">@POResx.PendingReceipts</text>
        <path d="m425.11417,812.62976c1.40002,1.29999 2.29999,3 2.59998,4.90002s0.09998,3.79999 -0.79999,5.5c-0.5,0.89996 -1.10004,1.79999 -1.79999,2.5c-0.70001,0.70001 -1.5,1.20001 -2.30005,1.70001c-1.89996,0.89996 -3.79999,1.09998 -5.79999,0.69995c-1.29999,-0.29999 -2.59998,-0.89996 -3.59998,-1.69995c-1.1001,-0.79999 -1.89996,-1.90002 -2.5,-3.10004c-0.79999,-1.79999 -1.1001,-3.6001 -0.79999,-5.5s1.19989,-3.5 2.59998,-4.89996c1.5,-1.60004 3.20001,-2.40002 5.20001,-2.70001c2.79999,-0.20001 5.20001,0.59998 7.20001,2.59998zm-6.30005,4.20001c-0.79999,0.09998 -1.5,0.60004 -2.09998,1.29999c-0.59998,0.60004 -0.79999,1 -0.5,1.10004c0.09998,0.09998 0.30005,-0.10004 0.59998,-0.40002c0.20001,-0.29999 0.40002,-0.5 0.60004,-0.70001c0.39996,-0.39996 0.70001,-0.39996 0.79999,-0.09998c0,0.09998 -0.20001,0.79999 -0.69995,2c-0.50006,1.20001 -0.80005,2 -0.90002,2.29999c-0.19998,0.70001 -0.30005,1.20001 -0.30005,1.5s0.20007,0.60004 0.40002,0.70001c0.29999,0.20001 0.70001,0.20001 1.29999,0c0.90002,-0.29999 1.70001,-0.90002 2.50006,-1.70001c0.49994,-0.5 0.59998,-0.90002 0.39996,-1c-0.10004,0 -0.29999,0.20001 -0.70001,0.60004c-0.59998,0.69995 -1,0.89996 -1.09998,0.79999c-0.10004,-0.10004 -0.10004,-0.30005 0,-0.70001c0.09998,-0.3999 0.40002,-1.09998 0.79999,-2.09998c0.5,-1.20001 0.70001,-2 0.70001,-2.20001c0.19995,-0.79999 0,-1.30005 -0.60004,-1.40002c-0.39996,-0.19989 -0.79999,-0.19989 -1.20001,0zm1.20001,-3.20001c-0.29999,0.10004 -0.49994,0.29999 -0.70001,0.5c-0.19995,0.30005 -0.19995,0.60004 -0.19995,0.90002c0.09998,0.59998 0.40002,0.89996 1.09998,1c0.40002,0 0.70001,-0.10004 1,-0.40002c0.30005,-0.29999 0.40002,-0.59998 0.40002,-1c0,-0.59998 -0.20001,-0.89996 -0.70001,-1.09998c-0.29999,0 -0.60004,0 -0.90002,0.09998z" fill="#7A7B7C" id="svg_141" />
      </a>
      <g id="Title_130">
        <text id="svg_12" y="758" x="410">@POResx.InquiriesAndStatistics</text>
        <g id="svg_104">
          <g id="svg_14">
            <path id="svg_17" d="m370,720c-16.59998,0 -30,13.39996 -30,30s13.40002,30 30,30s29.99997,-13.39996 29.99997,-30s-13.39996,-30 -29.99997,-30zm0,56c-14.29999,0 -26,-11.70001 -26,-26c0,-14.29999 11.70001,-26 26,-26c14.30002,0 25.99997,11.70001 25.99997,26c0,14.29999 -11.69995,26 -25.99997,26z" fill="#6639b7" />
            <path id="svg_16" d="m372.90005,754.29999c-0.20004,-0.09998 -0.60004,0.30005 -1.20004,1c-1.10001,1.20001 -1.80002,1.70001 -2,1.40002c-0.20001,-0.20001 -0.20001,-0.59998 0,-1.20001c0.29999,-0.59998 0.70001,-1.89996 1.39999,-3.70001c0.79999,-2.19995 1.30005,-3.5 1.30005,-3.89996c0.29996,-1.40002 -0.10004,-2.20001 -1.10004,-2.50006c-0.60001,-0.19995 -1.30002,-0.09998 -2.10001,0.10004c-1.30002,0.29999 -2.5,1.10004 -3.70001,2.40002c-1,1 -1.29999,1.70001 -0.89999,1.89996c0.20001,0.10004 0.60004,-0.19995 1.10001,-0.79999c0.39999,-0.5 0.79999,-0.89996 1.10001,-1.20001c0.79999,-0.69995 1.19998,-0.79999 1.40002,-0.19995c0.09998,0.19995 -0.40002,1.29999 -1.30005,3.59998c-0.79999,2.09998 -1.29999,3.5 -1.59998,4c-0.40002,1.19995 -0.5,2.09998 -0.5,2.59998c0.09998,0.59998 0.29999,1 0.79999,1.20001c0.60004,0.29999 1.29999,0.29999 2.29999,0.10004c1.60001,-0.5 3.10001,-1.5 4.40002,-3c0.90002,-0.90002 1.10004,-1.5 0.60004,-1.80005z" fill="#6639b7" />
            <path id="svg_15" d="m372.90005,739.90002c-0.5,-0.20001 -1.00006,-0.20001 -1.50003,0s-1,0.49994 -1.19998,1s-0.40002,1 -0.40002,1.59998c0.10001,1.10004 0.69998,1.70001 1.89999,1.70001c0.70004,0.09998 1.29999,-0.20001 1.79999,-0.59998c0.5,-0.5 0.80002,-1 0.80002,-1.70001c-0.09998,-1.10004 -0.5,-1.70001 -1.39996,-2z" fill="#6639b7" />
          </g>
        </g>
      </g>
    </g>
  </g>
</svg>