@* Copyright (c) 1994-2014 Sage Software, Inc.  All rights reserved. *@
@using Sage.CA.SBS.ERP.Sage300.VPF.Resources

<svg width="670" height="1400" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
 <g display="inline" stroke="null">
  <title>IC</title>
  <g transform="matrix(0.532283,0,0,0.605972,11.6284,47.1279) " stroke="null" id="svg_23">
   <svg x="28" y="480" viewBox="0 0 330 60" id="svg_16" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <path fill="#9A9B9C" d="m0,0l4,0l0,50l-4,0l0,-50z" stroke="null" id="svg_17"/>
   </svg>
  </g>
  <g id="svg_85" transform="matrix(0.532283,0,0,0.605972,11.6284,47.1279) " stroke="null">
   <svg id="svg_21" x="28" y="102" viewBox="0 0 330 60" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <path id="svg_22" fill="#9A9B9C" d="m0,0l4,0l0,50l-4,0l0,-50z" stroke="null"/>
   </svg>
  </g>
  <g transform="matrix(0.532283,0,0,0.6038712531229483,11.6284,10.669315039598104) " stroke="null" id="svg_20">
   <svg x="28" y="-18" viewBox="0 0 330 60" id="svg_24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <path fill="#9A9B9C" d="m0,0l4,0l0,50l-4,0l0,-50z" stroke="null" id="svg_25"/>
   </svg>
  </g>
  <g transform="matrix(0.532283,0,0,0.605972,11.6284,47.1279) " id="svg_50" stroke="null">
   <svg x="28" y="-621" viewBox="0 0 330 60" id="svg_36" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <path fill="#9A9B9C" d="m0,0l4,0l0,50l-4,0l0,-50z" id="svg_37" stroke="null"/>
   </svg>
  </g>
  <g id="svg_35" transform="matrix(0.477316,0,0,0.5597602848366329,14.0042,40.231771409674906) " stroke="null">
   <svg id="svg_40" x="28" y="-217" viewBox="0 0 330 60" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <path id="svg_41" fill="#9A9B9C" d="m0,0l4,0l0,50l-4,0l0,-50z" stroke="null"/>
   </svg>
  </g>
  <g id="svg_129" transform="matrix(0.477316,0,0,0.618478,14.0134,41.526) " stroke="null">
   <svg id="svg_42" x="28" y="-444" viewBox="0 0 330 60" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <path id="svg_43" fill="#9A9B9C" d="m0,0l4,0l0,50l-4,0l0,-50z" stroke="null"/>
   </svg>
  </g>
  <g transform="matrix(0.532283,0,0,0.605972,11.6284,47.1279) " id="svg_34" stroke="null">
   <svg x="28" y="288" viewBox="0 0 330 60" id="svg_44" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <path fill="#9A9B9C" d="m0,0l4,0l0,50l-4,0l0,-50z" id="svg_45" stroke="null"/>
   </svg>
  </g>
  <a id="svg_63" xlink:href="javascript:EventListenter_VPF('IC','Item','');" stroke="null">
   <text transform="matrix(0.9653,0,0,1,65.1782,34.3872) " y="0" x="4" id="svg_26" stroke="null">@ICMaintResx.Items</text>
   <path d="m29.99999,0c-16.59999,0 -29.99999,13.40003 -29.99999,30.00001s13.4,29.99997 29.99999,29.99997s30,-13.40001 30,-29.99997s-13.4,-30.00001 -30,-30.00001zm-10.4,22.50001c-0.79998,-0.79999 -0.79998,-2.09998 0,-2.90001c0.80001,-0.79999 2.10001,-0.79999 2.90001,0c0.4,0.40001 1.5,1.5 1.5,1.5l-1.5,1.5l-1.40001,1.40001c0,0 -1,-1 -1.5,-1.5zm5.10001,-0.7l8.60001,8.60004l0.69998,3.59996l-3.59999,-0.7l-8.59999,-8.59996l2.89999,-2.90001l0,-0.00003zm13.29999,14.19997c0,1.09999 -0.9,2 -2,2l-11.99999,0c-1.1,0 -2,-0.90001 -2,-2l0,-6.89998l2,2l0,4.89998l11.99999,0l0,-11.99997l-4.9,0l-2,-2l6.9,0c1.1,0 2,0.90002 2,2l0,11.99997z" fill="#007F64" id="svg_27" stroke="null"/>
   <g display="none" id="Layer_1" stroke="null">
    <g id="svg_60" display="inline" stroke="null">
     <path id="svg_61" d="m30,26.2c-2.1,0 -3.8,1.7 -3.8,3.8s1.7,3.8 3.8,3.8s3.8,-1.7 3.8,-3.8s-1.7,-3.8 -3.8,-3.8zm0,6.1c-1.2,0 -2.3,-1 -2.3,-2.3c0,-1.2 1,-2.3 2.3,-2.3c1.2,0 2.3,1 2.3,2.3c0,1.2 -1.1,2.3 -2.3,2.3z" fill="#007F64" stroke="null"/>
     <path id="svg_62" d="m30,0c-16.6,0 -30,13.4 -30,30s13.4,30 30,30s30,-13.4 30,-30s-13.4,-30 -30,-30zm7.5,32.1c-0.2,0.6 -0.4,1.2 -0.7,1.8c0.9,1.6 0.9,2.6 0.3,3.2s-1.6,0.6 -3.2,-0.3c-0.6,0.3 -1.2,0.6 -1.8,0.7c-0.5,1.8 -1.3,2.5 -2.1,2.5s-1.6,-0.7 -2.1,-2.5c-0.6,-0.2 -1.2,-0.4 -1.8,-0.7c-1.6,0.9 -2.6,0.9 -3.2,0.3c-0.6,-0.6 -0.6,-1.6 0.3,-3.2c-0.3,-0.6 -0.6,-1.2 -0.7,-1.8c-1.8,-0.5 -2.5,-1.3 -2.5,-2.1s0.7,-1.6 2.5,-2.1c0.2,-0.6 0.4,-1.2 0.7,-1.8c-0.9,-1.6 -0.9,-2.6 -0.3,-3.2s1.6,-0.6 3.2,0.3c0.6,-0.3 1.2,-0.6 1.8,-0.7c0.5,-1.8 1.3,-2.5 2.1,-2.5s1.6,0.7 2.1,2.5c0.6,0.2 1.2,0.4 1.8,0.7c1.6,-0.9 2.6,-0.9 3.2,-0.3c0.6,0.6 0.6,1.6 -0.3,3.2c0.3,0.6 0.6,1.2 0.7,1.8c1.8,0.5 2.5,1.3 2.5,2.1s-0.7,1.6 -2.5,2.1z" fill="#007F64" stroke="null"/>
    </g>
   </g>
   <g display="none" id="Layer_3" stroke="null">
    <g id="svg_64" display="inline" stroke="null">
     <path id="svg_68" d="m30,0c-16.6,0 -30,13.4 -30,30s13.4,30 30,30s30,-13.4 30,-30s-13.4,-30 -30,-30zm0,56c-14.3,0 -26,-11.7 -26,-26c0,-14.3 11.7,-26 26,-26s26,11.7 26,26c0,14.3 -11.7,26 -26,26z" fill="#007F64" stroke="null"/>
     <g id="svg_69" stroke="null">
      <rect id="svg_70" height="5" width="2" fill="#007F64" y="30" x="33" stroke="null"/>
      <rect id="svg_71" height="11" width="2" fill="#007F64" y="24" x="30" stroke="null"/>
      <rect id="svg_72" height="7" width="2" fill="#007F64" y="28" x="27" stroke="null"/>
      <rect id="svg_73" height="13" width="2" fill="#007F64" y="22" x="24" stroke="null"/>
      <rect id="svg_74" height="3" width="2" fill="#007F64" y="32" x="21" stroke="null"/>
      <rect id="svg_75" height="1" width="17" fill="#007F64" y="36" x="21" stroke="null"/>
      <rect id="svg_76" height="9" width="2" fill="#007F64" y="26" x="36" stroke="null"/>
     </g>
    </g>
   </g>
  </a>
  <a id="svg_65" xlink:href="javascript:EventListenter_VPF('IC','LocationDetail','');" stroke="null">
   <text transform="matrix(0.9652999999999999,0,0,1,65.17821856689451,34.3872) " y="110" x="4" id="svg_78" stroke="null">@ICMaintResx.LocationDetails</text>
   <path id="svg_38" d="m30,110c-16.59998,0 -30,13.40009 -30,30.00006s13.40002,29.99994 30,29.99994s30,-13.40002 30,-29.99994s-13.39999,-30.00006 -30,-30.00006zm-10.39999,22.50006c-0.79999,-0.79999 -0.79999,-2.09999 0,-2.90002c0.80002,-0.79999 2.10001,-0.79999 2.89999,0c0.40002,0.40002 1.5,1.5 1.5,1.5l-1.5,1.5l-1.39999,1.40002c0,0 -1,-1 -1.5,-1.5zm5.10001,-0.70001l8.60001,8.60004l0.69998,3.59999l-3.59998,-0.70001l-8.60001,-8.59999l2.89999,-2.90001l0,0l0.00001,-0.00002zm13.29999,14.19995c0,1.09998 -0.89999,2 -2,2l-12,0c-1.09998,0 -2,-0.90002 -2,-2l0,-6.89996l2,2l0,4.89996l12,0l0,-11.99994l-4.89999,0l-2,-2l6.89999,0c1.10001,0 2,0.90001 2,2l0,11.99994z" fill="#007F64" stroke="null"/>
  </a>
  <a id="svg_66" xlink:href="javascript:EventListenter_VPF('IC','VendorDetail','');" stroke="null">
   <text transform="matrix(0.9652999999999999,0,0,1,241.616951171875,249.974) " y="5" x="-179" id="svg_109" stroke="null">@ICMaintResx.VendorDetails</text>
   <path id="svg_39" d="m30,220c-16.59998,0 -30,13.40009 -30,30.00006s13.40002,29.99994 30,29.99994s30,-13.40002 30,-29.99994s-13.39999,-30.00006 -30,-30.00006zm-10.39999,22.50006c-0.79999,-0.79999 -0.79999,-2.09999 0,-2.90002c0.80002,-0.79999 2.10001,-0.79999 2.89999,0c0.40002,0.40002 1.5,1.5 1.5,1.5l-1.5,1.5l-1.39999,1.40002c0,0 -1,-1 -1.5,-1.5zm5.10001,-0.70001l8.60001,8.60004l0.69998,3.59999l-3.59998,-0.70001l-8.60001,-8.59999l2.89999,-2.90001l0,0l0.00001,-0.00002zm13.29999,14.19995c0,1.09998 -0.89999,2 -2,2l-12,0c-1.09998,0 -2,-0.90002 -2,-2l0,-6.89996l2,2l0,4.89996l12,0l0,-11.99994l-4.89999,0l-2,-2l6.89999,0c1.10001,0 2,0.90001 2,2l0,11.99994z" fill="#007F64" stroke="null"/>
  </a>
  <a id="svg_79" xlink:href="javascript:EventListenter_VPF('IC','ManufacturersItem','');" stroke="null">
   <text y="440" x="-349" transform="matrix(0.9652999999999999,0,0,1,406.8039245605469,36.3872) " id="svg_2" stroke="null">@ICMaintResx.ManufacturersItems</text>
   <path d="m30.58388,441.4209c-16.59999,0 -29.99999,13.40002 -29.99999,30s13.4,30 29.99999,30s30,-13.40002 30,-30s-13.39999,-30 -30,-30zm-10.4,22.5c-0.79998,-0.79993 -0.79998,-2.09998 0,-2.89996c0.80001,-0.79999 2.10001,-0.79999 2.90001,0c0.4,0.39996 1.5,1.5 1.5,1.5l-1.5,1.5l-1.40001,1.39996c0,0 -1,-1 -1.5,-1.5zm5.10001,-0.69995l8.60001,8.60004l0.69998,3.59991l-3.59999,-0.69995l-8.59999,-8.59998l2.89999,-2.90002l0,0zm13.29999,14.19995c0,1.09998 -0.9,2 -2,2l-11.99999,0c-1.1,0 -2,-0.90002 -2,-2l0,-6.89996l2,2l0,4.89996l11.99999,0l0,-12l-4.9,0l-2,-2l6.9,0c1.1,0 2,0.90002 2,2l0,12z" fill="#007F64" id="svg_48" stroke="null"/>
  </a>
  <a id="svg_80" xlink:href="javascript:EventListenter_VPF('IC','CustomerDetail','');" stroke="null">
   <text y="550" x="-349" transform="matrix(0.9652999999999999,0,0,1,407,36.3872) " id="svg_58" stroke="null">@ICMaintResx.CustomerDetails</text>
   <path d="m30.88465,552.26465c-16.6,0 -29.99999,13.39996 -29.99999,30s13.39999,30 29.99999,30s30,-13.40002 30,-30s-13.4,-30 -30,-30zm-10.4,22.5c-0.8,-0.80005 -0.8,-2.10004 0,-2.90002c0.8,-0.79999 2.1,-0.79999 2.9,0c0.4,0.40002 1.5,1.5 1.5,1.5l-1.5,1.5l-1.4,1.40002c0,0 -1,-1 -1.5,-1.5zm5.1,-0.70001l8.6,8.59998l0.7,3.60004l-3.6,-0.70001l-8.6,-8.60004l2.9,-2.89996l0,0l0,0zm13.3,14.20001c0,1.09998 -0.9,2 -2,2l-12,0c-1.1,0 -2,-0.90002 -2,-2l0,-6.90002l2,2l0,4.90002l12,0l0,-12l-4.9,0l-2,-2l6.9,0c1.1,0 2,0.89996 2,2l0,12z" fill="#007F64" id="svg_51" stroke="null"/>
  </a>
  <a stroke="null" xlink:href="javascript:EventListenter_VPF('IC','ReorderQuantity','');" id="svg_90">
   <text y="678" x="-349" transform="matrix(0.9652999999999999,0,0,1,406.1549999999999,26.3872) " id="svg_59" stroke="null">@ICMaintResx.ReorderQuantities</text>
   <path d="m30.7284,669.4209c-16.6,0 -29.99999,13.39996 -29.99999,30s13.39999,30 29.99999,30s30,-13.40002 30,-30s-13.4,-30 -30,-30zm-10.4,22.5c-0.8,-0.80005 -0.8,-2.10004 0,-2.90002c0.8,-0.79999 2.1,-0.79999 2.9,0c0.4,0.40002 1.5,1.5 1.5,1.5l-1.5,1.5l-1.4,1.40002c0,0 -1,-1 -1.5,-1.5zm5.1,-0.70001l8.6,8.59998l0.7,3.60004l-3.6,-0.70001l-8.6,-8.60004l2.9,-2.89996l0,0l0,0zm13.3,14.20001c0,1.09998 -0.9,2 -2,2l-12,0c-1.1,0 -2,-0.90002 -2,-2l0,-6.90002l2,2l0,4.90002l12,0l0,-12l-4.9,0l-2,-2l6.9,0c1.1,0 2,0.89996 2,2l0,12z" fill="#007F64" id="svg_52" stroke="null"/>
  </a>
  <a stroke="null" xlink:href="javascript:EventListenter_VPF('IC','Reorder','');" id="svg_88">
   <text fill="#414042" id="svg_18" stroke="null" y="425" x="-270" transform="matrix(0.9652999999999999,0,0,1,330,395.387) ">@ICMaintResx.RerderReports</text>
   <path fill="#007F64" d="m31.4375,786c-16.60001,0 -30,13.40002 -30,30s13.39999,30 30,30s30,-13.39996 30,-30s-13.39999,-30 -30,-30zm3,30l2,0l0,5l-2,0l0,-5zm-3,-6l2,0l0,11l-2,0l0,-11zm-3,4l2,0l0,7l-2,0l0,-7zm-3,-6l2,0l0,13l-2,0l0,-13zm-3,10l2,0l0,3l-2,0l0,-3zm17,5l-17,0l0,-1l17,0l0,1zm0,-2l-2,0l0,-9l2,0l0,9z" id="svg_19" stroke="null"/>
  </a>
  <g id="Title_17">
   <a id="svg_67" xlink:href="javascript:EventListenter_VPF('IC','ItemPricing','');" stroke="null">
    <text transform="matrix(0.9653,0,0,1,242.492,249.974) " y="115" x="-179" id="svg_133" stroke="null">@ICMaintResx.ItemPricing</text>
    <g id="svg_28" stroke="null">
     <path fill="#007F64" d="m30,330c-16.6,0 -30,13.39999 -30,30s13.4,30 30,30s30,-13.39999 30,-30s-13.4,-30 -30,-30zm0,56c-14.3,0 -26,-11.70001 -26,-26c0,-14.29999 11.7,-26 26,-26c14.3,0 26,11.70001 26,26c0,14.29999 -11.7,26 -26,26z" id="svg_29" stroke="null"/>
     <g id="svg_30" stroke="null">
      <path fill="#007F64" d="m24,351.10001c0,0 -1,-1 -1.5,-1.5c-0.8,-0.80002 -2.1,-0.80002 -2.9,0c-0.8,0.79999 -0.8,2.10001 0,2.89999c0.5,0.5 1.5,1.5 1.5,1.5l1.5,-1.5l1.4,-1.39999z" id="svg_31" stroke="null"/>
      <polygon fill="#007F64" points="33.99999237060547,364 33.299991607666016,360.3999938964844 24.699995040893555,351.79998779296875 21.79999351501465,354.70001220703125 30.399993896484375,363.29998779296875 " id="svg_32" stroke="null"/>
      <path fill="#007F64" d="m36,352l-6.9,0l2,2l4.9,0l0,12l-12,0l0,-4.89999l-2,-2l0,6.89999c0,1.10001 0.9,2 2,2l12,0c1.09999,0 2,-0.89999 2,-2l0,-12c0,-1.10001 -0.90001,-2 -2,-2z" id="svg_33" stroke="null"/>
     </g>
    </g>
   </a>
  </g>
 </g>
</svg>